<app-menu></app-menu>

<div class="container">
  <h2 class="font-weight-bolt ruteo">EMPLEADOS</h2>
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <button class="btn btn-primary m-2" (click)="changeView('consulta')">Consultar</button>
          <button class="btn btn-primary m-2" (click)="changeView('crear')">Crear</button>
          <button class="btn btn-primary m-2" (click)="editar('consulta')">Editar</button>
        </div>
      </div>
    </nav>
  </div>

  <div class="formRol" *ngIf="changeview === 'crear'">
    <h3 class="font-weight-bold" style="padding-top: 20pt;">Ingreso de empleados</h3>
    <form class="form-rol">
      <div class="form cmp-form">
        <label class="form-label">Identificación:</label>
        <input [(ngModel)]="empIdentificacion" name="Identificacion" type="text" class="form-control" />
      </div>
      <div class="form cmp-form">
        <label class="form-label">Nombres:</label>
        <input [(ngModel)]="empNombres" name="Nombres" type="text" class="form-control" />
      </div>
      <div class="form cmp-form">
        <label class="form-label">Apellidos:</label>
        <input [(ngModel)]="empApellidos" name="Apellidos" type="text" class="form-control" />
      </div>
      <div class="form cmp-form">
        <label class="form-label">Correo:</label>
        <input [(ngModel)]="empCorreo" name="Correo" type="text" class="form-control" />
      </div>
      <div class="form cmp-form">
        <label class="form-label">Departamento:</label>
        <select class="form-control" name="Departamento" [(ngModel)]="empDpto">
          <option selected></option>
          <option *ngFor="let dpto of dptoList$|async" [value]="dpto.depId">{{dpto.depDescp}}</option>
        </select>
      </div>
      <div class="form cmp-form">
        <label class="form-label">Estado:</label>
        <select class="form-select" name="estado" [(ngModel)]="empEstado">
          <option value="A">Activo</option>
          <option value="I">Inactivo</option>
        </select>
      </div>
    </form>
    <div class="text-end">
      <button [disabled]="!empIdentificacion || !empNombres || !empApellidos" type="submit" class="btn btn-primary m-2"
        (click)="agregarEmpleado()">Agregar empleado</button>
      <button class="btn btn-danger m-2" (click)="cancelar()">Cancelar</button>
    </div>
  </div>


  <div class="listRol" *ngIf="changeview === 'consulta'">
    <h3 class="font-weight-bold" style="padding-top: 20pt;">Empleados registrados</h3>
    <p class="text-danger no-rol text-center" *ngIf="(empleadoList$ | async)?.length === 0">No hay empleados
      registrados.</p>

    <table class="table table-bordered table-striped text-center" *ngIf="(empleadoList$ | async)?.length != 0">
      <thead>
        <tr>
          <th class="col-sm">Identificación</th>
          <th class="col-sm">Nombres</th>
          <th class="col-sm">Apellidos</th>
          <th class="col-sm">Area</th>
          <th class="col-sm">Departamento</th>
          <th class="col-sm">Correo</th>
          <th class="col-sm" *ngIf="edicion">Estado</th>
          <th class="col-sm" *ngIf="edicion">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of empleadoList$|async let i=index">
          <tr *ngIf="!edicion; else showAllItems">
            <ng-container *ngIf="item.empleadoEstado === 'A'">
              <td>{{ item.empleadoIdentificacion }}</td>
              <td>{{ item.empleadoNombres }}</td>
              <td>{{ item.empleadoApellidos }}</td>
              <ng-container *ngFor="let area of areaList$|async">
                <td *ngIf="area.areaIdNomina === item.empleadoIdArea">{{ area.areaDescp }}</td>
              </ng-container>
              <ng-container *ngFor="let dpto of dptoList$|async">
                <td *ngIf="dpto.depIdNomina === item.empleadoIdDpto">{{ dpto.depDescp }}</td>
              </ng-container>
              <td>{{ item.empleadoCorreo ? item.empleadoCorreo : 'Sin correo' }}</td>
            </ng-container>
          </tr>
          <ng-template #showAllItems>
            <tr>
              <td>{{ item.empleadoIdentificacion }}</td>
              <td>{{ item.empleadoNombres }}</td>
              <td>{{ item.empleadoApellidos }}</td>
              <ng-container *ngFor="let area of areaList$|async">
                <td *ngIf="area.areaIdNomina === item.empleadoIdArea">{{ area.areaDescp }}</td>
              </ng-container>
              <ng-container *ngFor="let dpto of dptoList$|async">
                <td *ngIf="dpto.depIdNomina === item.empleadoIdDpto">{{ dpto.depDescp }}</td>
              </ng-container>
              <td>{{ item.empleadoCorreo }}</td>
              <td *ngIf="edicion" [ngSwitch]="item.empleadoEstado ">
                <span *ngSwitchCase="'A'">Activo</span>
                <span *ngSwitchCase="'I'">Inactivo</span>
              </td>
              <td *ngIf="edicion">
                <a class="text-success m-3" (click)="editarEmpleado(item.empleadoId)">
                  <i class="bi bi-pencil-square h5"></i>
                </a>
              </td>
            </tr>
          </ng-template>
        </ng-container>
      </tbody>
    </table>
  </div>


  <div class="formedit" *ngIf="changeview === 'editar'">
    <h3 class="font-weight-bold" style="padding-top: 20pt;">Editar empleado</h3>
    <form class="form-rol">
      <div class="form cmp-form">
        <label class="form-label">Identificación:</label>
        <input [(ngModel)]="empIdentificacion" name="Identificacion" type="text" class="form-control" disabled />
      </div>
      <div class="form cmp-form">
        <label class="form-label">Nombres:</label>
        <input [(ngModel)]="empNombres" name="Nombres" type="text" class="form-control" disabled />
      </div>
      <div class="form cmp-form">
        <label class="form-label">Apellidos:</label>
        <input [(ngModel)]="empApellidos" name="Apellidos" type="text" class="form-control" disabled />
      </div>
      <div class="form cmp-form">
        <label class="form-label">Correo:</label>
        <input [(ngModel)]="empCorreo" name="Correo" type="text" class="form-control" disabled />
      </div>
      <div class="form cmp-form">
        <label class="form-label">Departamento:</label>
        <select class="form-control" name="Departamento" [(ngModel)]="empDpto">
          <option selected></option>
          <option *ngFor="let dpto of dptoList$|async" [value]="dpto.depId">{{dpto.depDescp}}</option>
        </select>
      </div>
      <div class="form cmp-form">
        <label class="form-label">Estado:</label>
        <select class="form-select" name="estado" [(ngModel)]="empEstado">
          <option value="A">Activo</option>
          <option value="I">Inactivo</option>
        </select>
      </div>
    </form>
    <div>
      <span class="text-success">{{ mensajeExito }}</span>
    </div>
    <div class="text-end">
      <button type="submit" class="btn btn-primary m-2" (click)="guardarEdicion()">Guardar cambios</button>
      <button class="btn btn-danger m-2" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
</div>