<app-menu></app-menu>
<div class="container">
  <h2 class="font-weight-bolt ruteo">Solicitud de Pago</h2>
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 30px;">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <button class="btn btn-primary m-2" (click)="changeView('crear')">
            Crear
          </button> -->
        </div>
      </div>
    </nav>
  </div>
  <div class=" m-2 text-center">
    <div *ngIf="showmsj" class="alert alert-success" role="alert">
        <span><i class="bi bi-check-circle-fill"> {{ msjExito }}</i></span>
    </div>
    <div *ngIf="showmsjerror" class="alert alert-danger" role="alert">
        <span><i class="bi bi-exclamation-triangle-fill">
                {{ msjError }}</i></span>
    </div>
</div>

  <ng-container *appAuthorize="'31'">
    <div class="form-cot" *ngIf="changeview === 'crear'">
      <!-- Aqui iría la condicion para mostrar u ocultar el contenido -->
      <h3 class="font-weight-bold" style="padding-top: 20pt">
        Registrar nueva solicitud de pago
      </h3>

      <div class="tabs-edit">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': actionCreate === 'creacion'}"
                    (click)="selectCreateAction('creacion')">Creación</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" [ngClass]="{'active': actionCreate === 'documentacion'}"
                    (click)="selectCreateAction('documentacion')" (click)="setNoSolDocumentacion()">Documentación</a>
            </li>
        </ul>
    </div>
  
      <div class="solicitud">
        <div class="cabecera mb-3">
          <div class="row">
            <div class="input-group col mb-1">
              <label class="input-group-text">Fecha:</label>
              <input
                type="text"
                class="form-control"
                disabled
                [value]="fechaFormateada"
              />
            </div>
            <!--  -->
            <div class="input-group col mb-1">
              <label class="input-group-text">No orden de compra :</label>
              <input
              maxlength="10"
                type="text"
                class="form-control"
                placeholder="Ingrese el numero de compra"
                [(ngModel)]="cab_ordencompra"
              />
            </div>
          </div>
          <div class="row mb-1">
            <div class="input-group col">
              <label class="input-group-text">Solicitado por*:</label>
              <input
                type="text"
                class="form-control"
                id="busqueda"
                list="sugerencias"
                [(ngModel)]="empleado"
                (keyup)="searchEmpleado()"
                placeholder="Ingrese el nombre del empleado"
              />
              <datalist id="sugerencias">
                <ng-container *ngFor="let emp of empleados">
                  <option
                    [value]="emp.empleadoNombres + ' ' + emp.empleadoApellidos"
                  ></option>
                </ng-container>
              </datalist>
              <button class="btn btn-success" (click)="selectEmpleado()">
                <i class="bi bi-check-lg"></i>
              </button>
            </div>
            <div class="input-group col">
              <label class="input-group-text">Area:</label>
              <input
                type="text"
                class="form-control"
                [value]="showArea"
                disabled 
              />
            </div>
          </div>
          <div class="row">
            <div class="input-group col mb-1">
              <label class="input-group-text">No factura:</label>
              <input
                type="text"
                maxlength="15"
                class="form-control"
                placeholder="Ingrese el numero Factura"
                [(ngModel)]="cab_nofactura"
              />
            </div>
            <div class="input-group col mb-1">
              <label class="input-group-text">Fecha de Factura:</label>
              <input
                type="date"
                class="form-control"
                [max]="fechaMax" 
                [(ngModel)]="cab_fechafactura"
              />
            </div>
          </div>
          <div class="row mb-1">
            <div class="input-group col">
              <select
                class="form-select"
                style="background-color: #d6d6d6"
                [(ngModel)]="tipobusqueda"
                (ngModelChange)="limpiarCampos()"
              >
                <option value="nombre" selected>Proveedor</option>
                <option value="ruc" >Ruc</option>
              </select>
              <!--  -->
              <input
                *ngIf="tipobusqueda == 'nombre'"
                [(ngModel)]="buscarProveedor"
                type="text"
                class="form-control"
                list="proveedor"
                placeholder="Ingrese el nombre del proveedor"
                (keyup)="searchProveedor(buscarProveedor)"
              />
              <input
                *ngIf="tipobusqueda == 'ruc'"
                [(ngModel)]="buscarProveedor"
                type="text"
                maxlength="15"
                class="form-control"
                list="proveedor"
                placeholder="Ingrese el RUC"
              />
              <datalist id="proveedor" *ngIf="tipobusqueda === 'nombre'">
                <ng-container *ngFor="let prov of proveedores">
                  <option [value]="prov.prov_nombre"></option>
                </ng-container>
              </datalist>
              <button
                *ngIf="tipobusqueda == 'ruc'"
                class="btn btn-success"
                (click)="searchProveedorRuc(buscarProveedor)"
              >
                <i class="bi bi-check-lg"></i>
              </button>
            </div>
            <div class="input-group col">
              <label class="input-group-text">
                <span *ngIf="tipobusqueda == 'nombre'"> RUC:</span>
                <span *ngIf="tipobusqueda == 'ruc'">Nombre:</span>
              </label>
              <input
                type="text"
                class="form-control"
                maxlength="15"
                disabled
                placeholder="-----"
                *ngIf="tipobusqueda == 'nombre'"
                [(ngModel)]="cab_rucproveedor"
              />
              <input
                type="text "
                class="form-control"
                *ngIf="tipobusqueda == 'ruc'"
                disabled
                placeholder="-----"
                [(ngModel)]="cab_proveedor"
              />
            </div>
          </div>
          <div class="input-group">
            <label class="input-group-text"> Solicitud Asociada</label>
            <input
              [(ngModel)]="valorinput"
              type="text"
              class="form-control mr-1"
              placeholder="Ejemplo: OC OB 2-0012"
            />
            <button class="btn btn-success" (click)="Obtener()">
              <i class="bi bi-search"></i>
            </button>
          </div>
          <!-- Mensaje de error -->
          <div  *ngIf="alertBool" class=  "alert alert-warning d-flex align-items-center mt-2" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <div>
                   {{alertText}}
            </div>
          </div>

        </div>
        <div *ngIf="actionCreate == 'creacion'">
          <div class="tabs-edit" *ngIf="destinoIO">
            <ul class="nav nav-tabs">
                <li class="nav-item nav-items">
                    <a class="nav-link" [ngClass]="{'active': showItDt === 'items'}" (click)="setID('items')" (click)="cancelarDes()" >Items</a>
                </li>
                <li class="nav-item nav-items">
                  <a class="nav-link" [ngClass]="{'active': showItDt === 'destino'}" (click)="setID('destino')">Destino</a>
              </li>
            </ul>
          </div>
    
          <div class="detalle" *ngIf="showItDt == 'items'">
            <table class="table table-striped text-center">
              <thead>
                <tr>
                  <th scope="col">N°</th>
                  <th scope="col">Item a Cancelar*</th>
                  <th scope="col">Cantidad contratada</th>
                  <th scope="col">Cantidad recibida</th>
                  <th scope="col">Valor unitario</th>
                  <th scope="col">Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let det of detalleSolPagos; let i = index">
                  <th class="align-middle">{{ i + 1 }}</th>
                  <td class="align-middle">
                    <textarea
                      name="descripcion"
                      class="form-control"
                      rows="2"
                      cols="50"
                      disabled
                      >{{ det.itemDesc }}</textarea
                    >
                  </td>
                  <td class="align-middle">
                    <input
                      type="number"
                      (input)="validarNumero($event)"
                      min="1"
                      class="form-control text-center"
                      [(ngModel)]="det.itemCant"
                      disabled
                    />
                  </td>
                  <td class="align-middle" style="width: 150px">
                    <input
                      type="number"
                      (input)="validarNumero($event)"
                      (input)="validarCantidad(det,$event)"   
                      class="form-control text-center"
                      [(ngModel)]="det.cantidadRecibid"
                    />
                  </td>
                  <td class="align-middle cel-prep">
                    <input
                      type="number"
                      (input)="validarNumero($event)"
                      min="1"
                      class="form-control text-center"
                      [(ngModel)]="det.valorUnitario"
                    />
                  </td>
                  <td class="align-middle">
                    <input
                      type="number"
                      (input)="validarNumero($event)"
                      min="1"
                      class="form-control text-center"
                      [(ngModel)]="det.subTotal"
                      (input)="calculoTotal()"
                    />
                  </td>
                </tr>
                <tr>
                  <td class="align-middle text-end" colspan="5">Total</td>
                  <td class="align-middle text-end">
                    <input
                      type="number"
                      (input)="validarNumero($event)"
                      min="1"
                      class="form-control text-center"
                      [(ngModel)]="Total"
                      disabled
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  
          <div *ngIf="showItDt == 'destino'">
            <app-sp-destino [tipoSol]="sharedTipoSol" [noSol]="sharedNoSol" [estadoSol]="estadoSol" 
                            [areaSol]="areaUserCookie" [detalles]="detallesToDestino" [numericoSol]="numericoSol"></app-sp-destino>
          </div>
        </div>
        
        <div *ngIf="actionCreate == 'documentacion'">
          <app-sp-documentacion [tipoSol]="sharedTipoSol" [noSol]="sharedNoSol"
              [estadoSol]="estadoSol"></app-sp-documentacion>
        </div>
  
        <div class="foot-cabecera">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder=""
              [(ngModel)]="cab_observa"
            />
            <label for="floatingInput">Observaciones:</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInputM"
              placeholder=""
              [(ngModel)]="cab_aplicarmult"
            />
            <label for="floatingInputM">Aplicar multa:</label>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text">Valor a descontar:</label>
            <input
              class="form-control"
              type="number"
              (input)="validarNumero($event)"
              min="1"
              placeholder="Ingrese el valor a descontar"
              [(ngModel)]="cab_valordescontar"
            />
            <label class="input-group-text">Pago total autorizado:</label>
            <input
              class="form-control"
              type="number"
              (input)="validarNumero($event)"
              min="1"
              placeholder="Ingrese el valor Total"
              [(ngModel)]="cab_totalautorizado"
            />
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text">Recibe:</label>
            <input
              type="text"
              maxlength="100"
              class="form-control"
              id="busqueda"
              list="sugerencias"
              [(ngModel)]="receptor"
              (keyup)="searchEmpleado()"
              (input)="verificartexto()"
              placeholder="Ingrese el nombre del empleado"
            />
            <datalist id="sugerencias">
              <ng-container *ngFor="let emp of empleados">
                <option
                  [value]="emp.empleadoNombres + ' ' + emp.empleadoApellidos"
                ></option>
              </ng-container>
            </datalist>
            <label class="input-group-text">Fecha de Inspeccion*:</label>
            <input
              class="form-control"
              type="date"
              for="fechamaxima"
              [max]="fechaMax" [min]="fechaMin"
              [(ngModel)]="cab_fechaInspeccion"
            />
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text">Cancelación de orden:</label>
            <select class="form-select" [(ngModel)]="cab_cancelarOrden" (change)="setCancelacionOrden(cab_cancelarOrden)">
              <option disabled selected value="">Seleccione un opcion....</option>
              <option value="TTL">TOTAL</option>
              <option value="PCL">PARCIAL</option>
            </select>
          </div>
          <div class="input-group mb-3" *ngIf="showCancelacion">
            <label class="input-group-text">Comentarios de orden:</label>
            <textarea type="text" class="form-control" cols="2" [(ngModel)]="cab_observCancelacion"></textarea>
          </div>
          <div class="text-end">
            <p class="tip">*Campos obligatorios</p>
          </div>
        </div>
      </div>
      <!-- Mensaje de error  -->
      <div class="d-flex row">
        <div class="col">
          <!-- <div *ngIf="showmsj" class="alert alert-success" role="alert">
            <span
              ><i class="bi bi-check-circle-fill">{{ msjExito }}</i></span
            >
          </div>
          <div *ngIf="showmsjerror" class="alert alert-danger" role="alert">
            <span
              ><i class="bi bi-exclamation-triangle-fill">
                {{ msjError }}</i
              ></span
            >
          </div> -->
        </div>
  
        <div class="col text-end">
          <button
            class="btn btn-primary m-2"
            data-toggle="modal"
            data-target="#guardarOrdenPago"
            (click)="saveReceptor()"
            *appAuthorize="'31'"
          >
            Guardar
          </button>
          <button class="btn btn-success m-2" data-toggle="modal" data-target="#enviarSolicitud" *appAuthorize="'27'" >
            Guardar y enviar
        </button>
          <button class="btn btn-danger m-2" (click)="cancelar()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </ng-container>



  <ng-container *appAuthorize="'32'">
    <div class="form-cot" *ngIf="changeview === 'editar'">
      <!-- Aqui iría la condicion para mostrar u ocultar el contenido -->
      <h3 class="font-weight-bold" style="padding-top: 20pt">
        Editar solicitud de pago
      </h3>
      <!-- Inicio -->
      <div class="tabs-edit">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': actionEdit === 'edicion'}" (click)="selectEditAction('edicion')">Edición</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': actionEdit === 'documentacion'}" (click)="selectEditAction('documentacion')">Documentación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': actionEdit === 'destino'}" (click)="selectEditAction('destino')">Destino</a>
          </li>
          <ng-container *ngIf="cabecera.cabPagoEstadoTrack > 10 && cabecera.cabPagoEstadoTrack != 0 && cabecera.cabPagoEstadoTrack != 9999">
            <li class="nav-item" *appAuthorize="'53'">
              <a class="nav-link" [ngClass]="{'active': actionEdit === 'autorizacion'}"
                  (click)="selectEditAction('autorizacion')">Autorizacion</a>
          </li>
          </ng-container>
        </ul>
    </div>
      <!-- Fin -->
      <div class="solicitud">
        <div class="cabecera mb-3">
            <div class="input-group mb-1 ">
              <label class="input-group-text">Código:</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="cabecera.cabPagoNumerico"
                disabled
              />
            </div>
         
          <div class="row">
            <div class="input-group col mb-1">
              <label class="input-group-text">Fecha:</label>
              <input
                type="text"
                class="form-control"
                disabled
                [value]="fechaFormateada"
              />
            </div>
            <!--  -->
            <div class="input-group col mb-1">
              <label class="input-group-text">No orden de compra :</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese el numero de compra"
                [(ngModel)]="cabecera.cabPagoNoOrdenCompra"
                [disabled]="cabecera.cabPagoEstadoTrack > 10"
              />
            </div>
          </div>
          <div class="row mb-1">
            <div class="input-group col">
              <label class="input-group-text">Solicitado por*:</label>
              <ng-container *ngFor="let emPa of empleadoEdi">
                <input
                  *ngIf="emPa.empleadoIdNomina == cabecera.cabPagoSolicitante"
                  type="text"
                  class="form-control"
                  id="busqueda"
                  list="sugerencias"
                  [value]="emPa.empleadoNombres + ' ' + emPa.empleadoApellidos"
                  disabled
                />
              </ng-container>
            </div>
            <div class="input-group col">
              <label class="input-group-text">Area:</label>
              <ng-container *ngFor="let are of areas">
                <input
                  *ngIf="are.areaIdNomina == cabecera.cabPagoIdAreaSolicitante"
                  type="text"
                  class="form-control"
                  [value]="are.areaDecp"
                  disabled
                />
              </ng-container>
            </div>
            <!--  -->
          </div>
          <!--  -->
          <div class="row">
            <div class="input-group col mb-1">
              <label class="input-group-text">Aprobado por:</label>
              
              <ng-container *ngIf="cabecera.cabPagoApprovedBy === 'XXXXXX'; else showValue">
                <input type="text" class="form-control" value="Nivel no alcanzado." disabled />
            </ng-container>
            <ng-template #showValue>
                <ng-container *ngFor="let emp of empleadoEdi">
                    <input *ngIf="emp.empleadoIdNomina == cabecera.cabPagoApprovedBy" type="text"
                        class="form-control" id="busqueda"
                        [value]="emp.empleadoNombres + ' ' + emp.empleadoApellidos" disabled />
                </ng-container>
            </ng-template>
            </div>
          </div>
          <!--  -->
          <div class="row">
            <div class="input-group col mb-1">
              <label class="input-group-text">No factura:</label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingrese el numero Factura"
                [(ngModel)]="cabecera.cabPagoNumFactura"
                [disabled]="cabecera.cabPagoEstadoTrack > 10"
              />
            </div>
            <div class="input-group col mb-1">
              <label class="input-group-text">Fecha de Factura:</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="cabecera.cabPagoFechaFactura"
                [disabled]="cabecera.cabPagoEstadoTrack > 10"
              />
            </div>
          </div>
          <div class="row mb-1">
            <div class="input-group col">
              <select
                name=""
                class="form-select"
                style="background-color: #d6d6d6"
                [(ngModel)]="tipobusqueda"
                (ngModelChange)="limpiarCampos()"
                [disabled]="cabecera.cabPagoEstadoTrack > 10"
              >
                <option value="nombre" selected>Proveedor</option>
                <option value="ruc">Ruc</option>
              </select>
              <input
                [(ngModel)]="cabecera.cabPagoProveedor"
                *ngIf="tipobusqueda == 'nombre'"
                type="text"
                class="form-control"
                list="proveedor"
                (keyup)="searchProveedor(cabecera.cabPagoProveedor)"
                [disabled]="cabecera.cabPagoEstadoTrack > 10"
              />
              <input
                [(ngModel)]="cabecera.cabPagoRucProveedor"
                *ngIf="tipobusqueda == 'ruc'"
                type="text"
                class="form-control"
                list="proveedor"
                [disabled]="cabecera.cabPagoEstadoTrack > 10"
              />
              <datalist id="proveedor" *ngIf="tipobusqueda === 'nombre'">
                <ng-container *ngFor="let prov of proveedores">
                  <option [value]="prov.prov_nombre"></option>
                </ng-container>
              </datalist>
              <button
                *ngIf="tipobusqueda == 'ruc'"
                class="btn btn-success"
                (click)="searchProveedorRuc(cabecera.cabPagoRucProveedor)"
                [disabled]="cabecera.cabPagoEstadoTrack > 10"
              >
                <i class="bi bi-check-lg"></i>
              </button>
            </div>
            <div class="input-group col">
              <label class="input-group-text">
                <span *ngIf="tipobusqueda == 'nombre'"> RUC:</span>
                <span *ngIf="tipobusqueda == 'ruc'">Nombre:</span>
              </label>
              <input
                type="text "
                class="form-control"
                *ngIf="tipobusqueda == 'nombre'"
                [(ngModel)]="cabecera.cabPagoRucProveedor"
                [disabled]="cabecera.cabPagoEstadoTrack > 10"
              />
              <input
                type="text "
                class="form-control"
                *ngIf="tipobusqueda == 'ruc'"
                [(ngModel)]="cabecera.cabPagoProveedor"
                [disabled]="cabecera.cabPagoEstadoTrack > 10"
              />
            </div>
          </div>
            <div class="row">
              <div class="input-group col ">
                <label class="input-group-text">Estado:</label>
                <input
                  type="text"
                  class="form-control"
                  [value]="estadoTexto"
                  disabled
                />
              </div>
              <div class="input-group col">
                <label class="input-group-text">Tracking:</label>
                <ng-container *ngFor="let nvTRK of nivelRut$ | async">
                  <input
                    *ngIf="nvTRK.nivel === cabecera.cabPagoEstadoTrack"
                    type="text"
                    class="form-control"
                    [value]="nvTRK.descRuteo"
                    disabled
                  />
                </ng-container>
              </div>
            </div>
        </div>
        <div *ngIf="actionEdit == 'documentacion'" >
          <app-sp-documentacion  [view]="changeview" [tipoSol]="sharedTipoSol" [noSol]="sharedNoSol" [estadoSol]="estadoSol"></app-sp-documentacion>
        </div>
        <div *ngIf="actionEdit == 'autorizacion'">
          <div class="anulacion mb-3">
              <div class="m-2">
                  <h2>Autorización de solicitud</h2>
                  <div class="text-center">
                      <div class="row buttons-ruteo">
                          <button *appAuthorize="'56'" class="btn btn-success col m-2" data-toggle="modal" data-target="#enviarSolicitud" [appSecureDisable]="estadoSol">Aprobar</button>
                          <button *appAuthorize="'59'" class="btn btn-warning col m-2"  data-toggle="modal" data-target="#rechazarSolicitud" [appSecureDisable]="estadoSol">Devolver</button>
                          <button *appAuthorize="'62'" class="btn btn-danger col m-2" data-toggle="modal" data-target="#anularSolicitud" [appSecureDisable]="estadoSol">Anular</button>
                      </div>
                  </div> 
              </div>
          </div>
          <!-- <app-oc-anulacion [tipoSol]="sharedTipoSol" [noSol]="sharedNoSol"
              [estadoSol]="estadoSol"></app-oc-anulacion> -->
      </div>
        <div *ngIf="actionEdit == 'destino'">
          <app-sp-destino [tipoSol]="sharedTipoSol" [noSol]="sharedNoSol" [estadoSol]="estadoSol" 
                          [areaSol]="areaUserCookie" [detalles]="detallesToDestino" [numericoSol]="numericoSol"></app-sp-destino>
        </div>
        <div class="detalle" *ngIf="actionEdit =='edicion'" >
          <table class="table table-striped text-center">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Item a Cancelar*</th>
                <th scope="col">Cantidad contratada</th>
                <th scope="col">Cantidad recibida</th>
                <th scope="col">Valor unitario</th>
                <th scope="col">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let det of detallePago; let i = index">
                <th class="align-middle">{{ i + 1 }}</th>
                <td class="align-middle">
                  <textarea
                    name="descripcion"
                    class="form-control"
                    rows="2"
                    cols="50"
                    disabled
                    >{{ det.detPagoItemDesc }}</textarea
                  >
                </td>
                <td class="align-middle">
                  <input
                    type="number"
                    (input)="validarNumero($event)"
                    min="1"
                    class="form-control text-center"
                    [(ngModel)]="det.detPagoCantContratada"
                    disabled
                  />
                </td>
                <td class="align-middle" style="width: 150px">
                  <input
                    type="number"
                    (input)="validarNumero($event)"
                    min="1"
                    class="form-control text-center"
                    [(ngModel)]="det.detPagoCantRecibida"
                    [disabled]="cabecera.cabPagoEstadoTrack > 10"
                  />
                </td>
                <td class="align-middle cel-prep">
                  <input
                    type="number"
                    (input)="validarNumero($event)"
                    min="1"
                    class="form-control text-center"
                    [(ngModel)]="det.detPagoValUnitario"
                    [disabled]="cabecera.cabPagoEstadoTrack > 10"
                  />
                </td>
                <td class="align-middle">
                  <input
                    type="number"
                    (input)="validarNumero($event)"
                    min="1"
                    class="form-control text-center"
                    [(ngModel)]="det.detPagoSubtotal"
                    (input)="calculoEditotal()"
                    [disabled]="cabecera.cabPagoEstadoTrack > 10"
                  />
                </td>
              </tr>
              <tr>
                <td class="align-middle text-end"></td>
                <td class="align-middle text-end"></td>
                <td class="align-middle text-end"></td>
                <td class="align-middle text-end"></td>
                <td class="align-middle text-end">Total</td>
                <td class="align-middle text-end">
                  <input
                    type="number"
                    (input)="validarNumero($event)"
                    min="1"
                    class="form-control text-center"
                    [(ngModel)]="cabecera.cabpagototal"
                    [disabled]="cabecera.cabPagoEstadoTrack > 10"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="foot-cabecera">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              [(ngModel)]="cabecera.cabPagoObservaciones"
              [disabled]="cabecera.cabPagoEstadoTrack > 10"
            />
            <label for="floatingInput">Observaciones:</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              [(ngModel)]="cabecera.cabPagoAplicarMulta"
              [disabled]="cabecera.cabPagoEstadoTrack > 10"
            />
            <label for="floatingInput">Aplicar multa:</label>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text">Valor a descontar:</label>
            <input
              class="form-control"
              type="number"
              (input)="validarNumero($event)"
              min="1"
              placeholder="Ingrese el valor a descontar"
              [(ngModel)]="cabecera.cabPagoValorMulta"
              [disabled]="cabecera.cabPagoEstadoTrack > 10"
            />
            <label class="input-group-text">Pago total autorizado:</label>
            <input
              class="form-control"
              type="number"
              (input)="validarNumero($event)"
              min="1"
              placeholder="Ingrese el valor Total"
              [(ngModel)]="cabecera.cabPagoValorTotalAut"
              [disabled]="cabecera.cabPagoEstadoTrack > 10"
            />
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text">Recibe:</label>
            <input
              type="text"
              class="form-control"
              list="sugerenciasEdit"
              [(ngModel)]="receptor"
              (keyup)="searchEmpleado()"
              [disabled]="cabecera.cabPagoEstadoTrack > 10"
            />
            <datalist id="sugerenciasEdit">
              <ng-container *ngFor="let emp of empleadoEdi">
                <option
                  [value]="emp.empleadoNombres + ' ' + emp.empleadoApellidos"
                ></option>
              </ng-container>
            </datalist>
            <label class="input-group-text">Fecha de Inspeccion*:</label>
            <input
              class="form-control"
              type="text"
              for="fechamaxima"
              [(ngModel)]="cabecera.cabPagoFechaInspeccion"
              [disabled]="cabecera.cabPagoEstadoTrack > 10"
            />
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text">Cancelación de orden:</label>
            <select
              (change)="setCancelacionOrden(cabecera.cabPagoCancelacionOrden)"
              class="form-select"
              [(ngModel)]="cabecera.cabPagoCancelacionOrden"
              [disabled]="cabecera.cabPagoEstadoTrack > 10"
            >
              <option disabled selected value="">Seleccione un opcion....</option>
              <option value="TTL">TOTAL</option>
              <option value="PCL">PARCIAL</option>
            </select>
          </div>
          <div class="input-group mb-3" *ngIf="showCancelacion">
            <label class="input-group-text">Comentarios de orden:</label>
            <textarea type="text" class="form-control" cols="2" [(ngModel)]="cabecera.cabPagoObservCancelacion" 
            [disabled]="cabecera.cabPagoEstadoTrack > 10"></textarea>
          </div>
          <div class="text-end">
            <app-sp-pdf  ></app-sp-pdf>
            <p class="tip">*Campos obligatorios</p>
          </div>
        </div>
      </div>
      <div class="d-flex row">
        <div class="col">
          <!-- <div *ngIf="showmsj" class="alert alert-success" role="alert">
            <span
              ><i class="bi bi-check-circle-fill">{{ msjExito }}</i></span
            >
          </div>
          <div *ngIf="showmsjerror" class="alert alert-danger" role="alert">
            <span
              ><i class="bi bi-exclamation-triangle-fill">
                {{ msjError }}</i
              ></span
            >
          </div> -->
        </div>
  
        <div class="col text-end">
          <button
            class="btn btn-primary m-2"
            data-toggle="modal"
            data-target="#guardarEdicion"
            (click)="saveReceptor()"
            [appSecureDisable]= "estadoSol"
          >
            Guardar
          </button>
          <button class="btn btn-success m-2" data-toggle="modal" data-target="#enviarSolicitudGuardada" *appAuthorize="'33'" [appSecureDisable]= "estadoSol">
            Guardar y enviar
        </button>
          <button class="btn btn-danger m-2" (click)="cancelarEdi()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- MODALES PARA VERIFICAR EL GUARDADO DE LA SOLICITUD -->
<!--Modal para guardar edicion de solicitud  -->
<div class="modal fade" #exampleModal id="guardarOrdenPago" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div *ngIf="setDestino"  class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="font-weight-bold" id="exampleModalLabel">
                    ¿Está seguro que desea guardar esta solicitud?
                </h3>
            </div>
            <div class="modal-body">
                <p>Esta acción guardará los datos ingresados en la solicitud pero no la enviará para su revisón.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="generarSolicitud()" >
                    Confirmar
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
        <!--  -->
        <div  *ngIf="!setDestino" class="modal-content">
          <div class="modal-header justify-content-center">
              <h3 class="font-weight-bold" id="exampleModalLabel">
                  Error
              </h3>
          </div>
          <div class="modal-body">
              <p>No se han guardo los destinos de los Items.</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                  Aceptar
              </button>
          </div>
      </div>
    </div>
</div>



<!--Modal para guardar edicion de solicitud  -->
<div class="modal fade" #exampleModal id="guardarEdicion" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="font-weight-bold" id="exampleModalLabel">
                    ¿Está seguro que desea guardar los cambios realizados en la solicitud?
                </h3>
            </div>
            <div class="modal-body">
                <p>Esta acción guardará los cambios hechos en la solicitud pero no enviará la solicitud.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="savePagoEdit()">
                    Confirmar
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>


<!-- MODALES PARA VERIFICAR EL ENVIO DE LA SOLICITUD -->
<!-- Modal para verificar el envío de la soliitud recien registrada-->
<div class="modal fade" #exampleModal id="enviarSolicitud" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div  *ngIf="setDestino" class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="font-weight-bold" id="exampleModalLabel">
                    ¿Está seguro que desea guardar la solicitud y enviarla para su revisión?
                </h3>
            </div>
            <div class="modal-body">
                <p>Al enviar la solicitud no podrá volver a editarla y pasará al siguiente nivel.</p>
                <!-- <div>
                  <label for="nivGerencia" class="input-label">Notificar a:</label>
                  <select  id="nivGerencia" class="form-select" [(ngModel)]="mailToNotify">
                      <option value="" selected disabled>Seleccione una opción</option>
                      <ng-container *ngFor="let niv of nivGerencias">
                          <option *ngIf="niv.gerNivArea == areaUserCookie" [value]="niv.gerNivCorreo">{{niv.gerNivNombre}}</option>
                      </ng-container>
                  </select>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="guardarEnviarSolNueva()">
                    Confirmar
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
        <div  *ngIf="!setDestino" class="modal-content">
          <div class="modal-header justify-content-center">
              <h3 class="font-weight-bold" id="exampleModalLabel">
                  Error
              </h3>
          </div>
          <div class="modal-body">
              <p>No se han guardo los destinos de los Items.</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                  Aceptar
              </button>
          </div>
      </div>
    </div>
    <!--  -->
</div>

<!-- Modal para verificar el envío de la solcitud guardada-->
<div class="modal fade" #exampleModal id="enviarSolicitudGuardada" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="font-weight-bold" id="exampleModalLabel">
                    ¿Está seguro que desea guardar los cambios realizados en la solicitud y enviarla para su revisión?
                </h3>
            </div>
            <div class="modal-body">
                <p>Esta acción guardará los cambios hechos en la solicitud y enviará la solicitud a su siguiente estado.</p>
                <!-- <div>
                  <label for="nivGerencia" class="input-label">Notificar a:</label>
                  <select  id="nivGerencia" class="form-select" [(ngModel)]="mailToNotify">
                      <option value="" selected disabled>Seleccione una opción</option>
                      <ng-container *ngFor="let niv of nivGerencias">
                          <option *ngIf="niv.gerNivArea == areaUserCookie" [value]="niv.gerNivCorreo">{{niv.gerNivNombre}}</option>
                      </ng-container>
                  </select>
                </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="guardarEnviarSolEditada()">
                    Confirmar
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para verificar el envío de la soliitud recien registrada-->
<div class="modal fade" #exampleModal id="enviarSolicitud" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="font-weight-bold" id="exampleModalLabel">
                    ¿Está seguro que desea enviar esta solicitud?
                </h3>
            </div>
            <div class="modal-body">
                <p>Al enviar la solicitud no podrá volver a editarla y pasará al sugiente nivel.</p>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="enviarSolicitud()">
                    Confirmar
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para verificar el envío de la soliitud recien registrada-->
<div class="modal fade" #exampleModal id="rechazarSolicitud" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="font-weight-bold" id="exampleModalLabel">
                    ¿Está seguro que desea no autorizar esta solicitud?
                </h3>
            </div>
            <div class="modal-body">
                <p>Al no autorizar la solicitud, esta se regresará al nivel anterior para su revisión.</p>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="noAutorizar()">
                    Confirmar
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Modal para verificar el envío de la soliitud recien registrada-->
<div class="modal fade" #exampleModal id="anularSolicitud" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="font-weight-bold" id="exampleModalLabel">
                    ¿Está seguro que desea anular esta solicitud?
                </h3>
            </div>
            <div class="modal-body">
                <p>Al anular la solicitud, esta tendrá el estado ANULADO y el proceso quedará finalizado.</p>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"  (click)="anularSolicitud()">
                    Confirmar
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>