.container {
    width: 70%;
    margin: 0 auto;
    padding-top: 25px;
}

.solicitud {
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: rgb(172, 172, 172);
}

.std{
    padding-left: 0px;
}
/* .btn-primary {
    background-color: red !important;
    border: red ;
    border-radius: 2px;
} */
.mr-3{
    margin-right: 10px !important;
}

.input-group-text {
    background-color: rgb(214, 214, 214);
}

.tip{
    font-size: 9pt;
}

.nav-items{
    font-weight: bold;
}

.anulacion{
    background-color: rgb(237, 237, 237);
    border-radius: 5pt;
}

.buttons-ruteo{
    width: 50%;
    margin: 0 auto;
}