<app-menu-evento-gest> </app-menu-evento-gest>

<div class="calendar-container">

  <h2 class="font-weight-bolt">Calendario de Eventos</h2>

  <!-- encabezado -->
  <div class="calendar-header">
    <div>
      <h2 style="font-style: italic;">{{ getMonthName(currentMonth) }} {{ currentYear }}</h2>
    </div>
    <div style="display: flex; flex-direction: column;">
      <div style="margin-bottom: 10px;">
        <ng-container *appAuthorize="'112'">
          <mat-radio-group color="primary" (change)="sendEstadoToHandle($event)">
            <mat-radio-button value="1">Todos</mat-radio-button>
            <mat-radio-button value="2">Solicitados</mat-radio-button>
            <mat-radio-button value="3" checked>Aprobados</mat-radio-button>
            <mat-radio-button value="4">Finalizados</mat-radio-button>
          </mat-radio-group>
        </ng-container>
      </div>
      <div
        style="display: flex; flex-direction: row; gap: 10px; justify-content: space-between; margin-bottom: 20px; align-items: end;">
        <!-- Filtro de estados -->
        <!-- Filtro de espacios -->
        <div class="custom-select-container">
          <div class="chip-params">
            <ng-container *ngIf="paramFilterList.length != 0">
              <mat-chip-grid #chipGrid>
                <mat-chip-row *ngFor="let p of paramFilterList" (removed)="remove(p)">
                  {{p.value}}
                  <button matChipRemove (click)="remove(p)">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
            </ng-container>
          </div>
          <!--  -->
          <div>
            <button mat-icon-button class="button-filter" (click)="resetFilter()"><i
                class="bi bi-arrow-clockwise"></i></button>
            <button mat-icon-button [matMenuTriggerFor]="menuFilter" class="button-filter"><i
                class="bi bi-funnel-fill"></i></button>
            <mat-menu #menuFilter="matMenu">
              <button mat-menu-item [disabled]="verifyFilterExist('tipo de contrato')"
                (click)="filterEvent('tipo de contrato')">Tipo de contrato</button>
              <button mat-menu-item [disabled]="verifyFilterExist('espacio')"
                (click)="filterEvent('espacio')">Espacio</button>
            </mat-menu>
          </div>
          <!-- <label class="custom-label-select" style="font-weight: bold;">Filtrar por espacio</label>
          <select class="custom-select" [(ngModel)]="nombreLocalidad" (change)="filtroLocalidad()">

            <option [value]="0">TODOS</option>
            <option *ngFor="let loc of localidadListFiltered" [value]="loc.id">{{ loc.lugar }}</option>
          </select> -->
        </div>
        <div style="display: flex; flex-direction: row; gap: 10px;">
          <button class="nav-button" mat-mini-fab color="primary"
            (click)="prevMonth()"><mat-icon>chevron_left</mat-icon></button>
          <button class="nav-button" mat-mini-fab color="primary"
            (click)="nextMonth()"><mat-icon>chevron_right</mat-icon></button>
        </div>
      </div>
    </div>
  </div>

  <!-- calendario -->
  <div class="calendar">
    <!-- dias de la semana -->
    <table class="table-days">
      <thead>
        <tr>
          <th class="day-week" *ngFor="let day of daysOfWeek">{{ day }}</th>
        </tr>
      </thead>
    </table>
    <!-- grid -->
    <div class="calendar-content">

      <!-- contenido del calendario -->
      <div *ngFor="let day of days" [ngClass]="{
          'day-month': true, 
          'current-month': day.belongsToCurrentMonth, 
          'other-month': !day.belongsToCurrentMonth, 
          'is-today': day.isToday
          }">
        {{ day.day }}
        <div class="day-event-container">
          <div class="day-event" *ngFor="let event of day.events" (click)="showEventDetails(event)"
            [matTooltip]="event.name + '\n' + event.eventType" matTooltipPosition="above" [matTooltipShowDelay]="600"
            [matTooltipHideDelay]="0" [ngClass]="{
              'day-event-solicitado': event.estadop == 20,
              'day-event-aprobado': event.estadop == 30,
              'day-event-finalizado': event.estadop == 40
            }">
            <div style="display: flex; flex-direction: row; gap: 5px;">
              <span>
                <img [src]="event.icon" alt="Indoor Event Icon" class="svg-icon-style" />
              </span>
              <!-- <span *ngIf="event.contrato === 1">
                <img src="assets/icons/hall.svg" alt="Indoor Event Icon" class="svg-icon-style" />
              </span>
              <span *ngIf="event.contrato === 2">
                <img src="assets/icons/brand.svg" alt="Outdoor Event Icon" class="svg-icon-style" />
              </span>
              <span *ngIf="event.contrato === 3">
                <img src="assets/icons/fair.svg" alt="Outdoor Event Icon" class="svg-icon-style" />
              </span> -->
              <p class="truncate-text">
                {{event.name}}
                <br>
              </p>
            </div>
            <p>
              <span style="font-size: 8pt; color: rgb(214, 214, 214);">{{event.eventType}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="display: flex; gap: 10px;">
    <!-- Columna de leyenda -->
    <div class="div-help">
      <div class="help-leyenda">
        <div class="leyenda" style="background-color: #b8b8b8;"></div>
        <div>Solicitado</div>
      </div>

      <div class="help-leyenda">
        <div class="leyenda" style="background-color: #2b8a3e;"></div>
        <div>Aprobado</div>
      </div>

      <div class="help-leyenda">
        <div class="leyenda" style="background-color: #4758b8;"></div>
        <div>Finalizado</div>
      </div>
    </div>

    <!-- Columna de información de eventos -->
    <div class="div-help" style="margin-right: 20px;">
      <ng-container *ngFor="let icon of grayIcons">
        <p class="help-contrato" style="margin-right: 30px;">
          <img [src]="icon.tpIconRuta" alt="Indoor Event Icon" class="svg-icon-style" />  {{icon.tpIconNombre}}
        </p>
      </ng-container>
    </div>
  </div>

</div>

<ng-template #dialogTemplate>
  <div class="event-info">
    <h2>Información del evento</h2>

    <div class="grl-info">
      <div class="title-event">
        <div style="display: flex; justify-content: space-between; gap: 10px; ">
          <h3 style="font-weight: bold;">{{ eventoSelected.nombre }}</h3>
          <p [ngClass]="{
            'estado-txt-solicitado': eventoSelected.estado == 'Solicitado',
            'estado-txt-aprobado': eventoSelected.estado == 'Aprobado',
            'estado-txt-finalizado': eventoSelected.estado == 'Finalizado'
          }">{{ eventoSelected.estado }}</p>
        </div>
        <p style="font-style: italic;"><ng-container *ngFor="let lugar of getLugaresList(eventoSelected.lugar)">
            {{ lugar }} <br />
          </ng-container></p>
      </div>
      <div class="title-event">
        <p>{{ eventoSelected.descp }}</p>
      </div>
      <div class="title-event">
        <p><span class="bold-txt">Cliente:</span> {{ eventoSelected.cliente }}</p>
        <p><span class="bold-txt">Asesor:</span> {{ eventoSelected.asesor }}</p>
      </div>
      <div class="title-event">
        <p><span class="bold-txt">Obervaciones:</span> {{ eventoSelected.observ }}</p>
      </div>
    </div>

    <div class="title-event">
      <p><span class="bold-txt">Tipo de pago:</span> {{ eventoSelected.tpago }}</p>
      <p><span class="bold-txt">Valor contrato:</span> {{ eventoSelected.vpago }}</p>
    </div>

    <div class="title-event">
      <p><strong>Montaje:</strong> {{ eventoSelected.montaje }}</p>
      <p><strong>Ejecución:</strong> {{ eventoSelected.ejecucion }}</p>
      <p><strong>Desmontaje:</strong> {{ eventoSelected.desmontaje }}</p>
    </div>

    <!-- tabla para ingresar los valores pendientes -->
    <!-- <div class="pagos-info">
    </div> -->

    <div class="edit-event">
      <button mat-raised-button color="primary" (click)="selectEvent(eventoSelected.id)">Más detalles</button>
      <button mat-raised-button color="warn" (click)="closeEvDialog()">Cerrar</button>
    </div>

  </div>
</ng-template>