<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <div class="header-container">
      <button *ngIf="appSelected" class="btn btn-primary mr-3" (mouseenter)="toggleSidebar()" (click)="toggleSidebar()"><i
          class="bi bi-list h5"></i></button>
      <img src="../../../../assets/img/logo.png" alt="logo" class="logo">
    </div>

    <form *ngIf="appSelected" class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
    </form>
    <div *ngIf="isLogin">
      <button class="btn btn-primary mr-5">FAQ</button>
      <button class="btn btn-primary ml-2 text-end" (click)="logOut()">Cerrar sesión <i
          class="bi bi-person-circle"></i></button>
    </div>
  </nav>
</header>
<div class="sidebar" [ngClass]="{'show': showSB, 'hide': !showSB}">
  <ul class="nav flex-column">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle btn " href="#" id="configuracionDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Seguridad
      </a>
      <div class="dropdown-menu" aria-labelledby="configuracionDropdown">
        <a class="dropdown-item" routerLink="/rol">Roles</a>
        <a class="dropdown-item" routerLink="/users">Usuarios</a>
        <a class="dropdown-item" routerLink="/apps">Aplicaciones</a>
        <a class="dropdown-item" routerLink="/functions">Funciones</a>
        <a class="dropdown-item" routerLink="/transact">Transacciones</a>
      </div>
    </li>
  </ul>
  <div class="text-center mt-5">
    <button class="btn btn-primary" (click)="backToMain()">Regresar</button>
  </div>
</div>
<!-- <nav class="sidebar" *ngIf="appSelected">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link">Seguridad</a>
          <ul class="sub-menu">
            <li><a routerLink="/rol">Roles</a></li>
            <li><a routerLink="/users">Usuarios</a></li>
            <li><a routerLink="/apps">Aplicaciones</a></li>
            <li><a routerLink="/functions">Funciones</a></li>
            <li><a routerLink="/transact">Transacciones</a></li>
          </ul>
        </li>
      <div class="text-center">
        <button class="btn btn-primary mt-5 col-md-5" (click)="backToMain()">Regresar</button>
      </div>
    </ul>
  </nav> -->