<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <div class="header-container">
      <button  class="btn btn-primary mr-3"  (click)="toggleSidebar()"><i
          class="bi bi-list h5"></i></button>
          <a routerLink="/main"><img src="assets/img/logo.png" alt="logo" class="logo"></a>
    </div>

    
    <div>
      <button class="btn btn-primary mr-5">FAQ</button>
      <button class="btn btn-primary ml-2 text-end" (click)="logOut()">Cerrar sesión <i
          class="bi bi-person-circle"></i></button>
    </div>
  </nav>
</header>
<p class="text-end m-2 user-name" style="font-weight: bold; font-style: italic;">Usted se ha identificado como: {{userName}}</p>
<div class="sidebar" [ngClass]="{'show': showSB, 'hide': !showSB}">
  <ul class="nav flex-column">
    <li class="nav-item dropdown" *appAuthorize="'41'">
      <a class="nav-link dropdown-toggle btn " href="#" id="configuracionDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mantenimiento
      </a>
      <div class="dropdown-menu" aria-labelledby="configuracionDropdown">
        <a class="dropdown-item" routerLink="/rol" *appAuthorize="'2'">Roles</a>
        <a class="dropdown-item" routerLink="/users" *appAuthorize="'6'">Usuarios</a>
        <a class="dropdown-item" routerLink="/empleados" *appAuthorize="'10'">Empleados</a>
        <a class="dropdown-item" routerLink="/apps" *appAuthorize="'14'">Aplicaciones</a>
        <!-- <a class="dropdown-item" routerLink="/functions">Funciones</a> -->
        <a class="dropdown-item" routerLink="/transact" *appAuthorize="'18'">Transacciones</a>
      </div>
    </li>
    <li class="nav-item dropdown" *appAuthorize="'51'">
      <a class="nav-link dropdown-toggle btn " href="#" id="configuracionDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Autorización
      </a>
      <div class="dropdown-menu" aria-labelledby="configuracionDropdown">
        <a class="dropdown-item" routerLink="/rolTransc" *appAuthorize="'49'">Roles-Transacciones</a>
        <a class="dropdown-item" routerLink="/rolUser" *appAuthorize="'48'">Roles-Usuarios</a>
      </div>
    </li>
  </ul>
  <div class="text-center mt-5">
    <button class="btn btn-primary" (click)="backToMain()">Regresar</button>
  </div>
</div>
<!-- <nav class="sidebar" *ngIf="appSelected">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link">Seguridad</a>
          <ul class="sub-menu">
            <li><a routerLink="/rol">Roles</a></li>
            <li><a routerLink="/users">Usuarios</a></li>
            <li><a routerLink="/apps">Aplicaciones</a></li>
            <li><a routerLink="/functions">Funciones</a></li>
            <li><a routerLink="/transact">Transacciones</a></li>
          </ul>
        </li>
      <div class="text-center">
        <button class="btn btn-primary mt-5 col-md-5" (click)="backToMain()">Regresar</button>
      </div>
    </ul>
  </nav> -->