<header>
  <nav class="navbar navbar-expand-lg  justify-content-between">
    <div class="header-container d-flex">
      <!-- <button  class="btn btn-primary mr-3"   (click)="toggleSidebar()"><i class="bi bi-list h5"></i></button> -->
      <a routerLink="/main"><img src="assets/img/logo.png" alt="logo" class="logo"></a>
    </div>

    <div>
      
      <button mat-raised-button color="warn" class=" ml-2 text-end" (click)="logOut()">Cerrar sesión <i
          class="bi bi-person-circle"></i></button>
    </div>
  </nav>
  
  <p class="text-end" style="font-style: italic; color: white; margin-bottom: 0px !important;">Bienvenido: {{userName}}</p>
</header>

<div class="sidebar" >
  <ul class="nav flex-column">
    <li class="nav-item dropdown" *appAuthorize="'41'">
      <button mat-stroked-button>
        Mantenimiento
      </button>
      <div class="menu" >
        <a class="item" mat-button routerLink="/rol" *appAuthorize="'2'">Roles</a>
        <a class="item" mat-button routerLink="/users" *appAuthorize="'6'">Usuarios</a>
        <a class="item" mat-button routerLink="/empleados" *appAuthorize="'10'">Empleados</a>
        <a class="item" mat-button routerLink="/apps" *appAuthorize="'14'">Aplicaciones</a>
        <!-- <a class="dropdown-item" routerLink="/functions">Funciones</a> -->
        <a class="item" mat-button  routerLink="/transact" *appAuthorize="'18'">Transacciones</a>
        <a class="item" mat-button routerLink="/empnivel" *appAuthorize="'68'">Empleado-Nivel</a>
      </div>
    </li>
    <li class="nav-item dropdown" *appAuthorize="'51'">
      <button mat-stroked-button>
        Autorización
      </button>
      <div class="menu" >
        <a class="item" mat-button  routerLink="/rolTransc" *appAuthorize="'49'">Roles-Transacciones</a>
        <a class="item" mat-button  routerLink="/rolUser" *appAuthorize="'48'">Roles-Usuarios</a>
      </div>
    </li>
  </ul>
  <div class="regresar">
    <button class="back-button" mat-raised-button onclick="history.back()"><i class="bi bi-arrow-left h4"></i></button> 
  </div>
</div>
<!-- <nav class="sidebar" *ngIf="appSelected">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link">Seguridad</a>
          <ul class="sub-menu">
            <li><a routerLink="/rol">Roles</a></li>
            <li><a routerLink="/users">Usuarios</a></li>
            <li><a routerLink="/apps">Aplicaciones</a></li>
            <li><a routerLink="/functions">Funciones</a></li>
            <li><a routerLink="/transact">Transacciones</a></li>
          </ul>
        </li>
      <div class="text-center">
        <button class="btn btn-primary mt-5 col-md-5" (click)="backToMain()">Regresar</button>
      </div>
    </ul>
  </nav> -->