<app-menu-tthh></app-menu-tthh>

<div class="container">
    <h1 style="text-align: center;"><b>LISTADO DE AUSENTISMOS</b></h1>
    <div class="formulariodiv">
        <div style="width: 100%;">

            <div style="display: flex; flex-direction: row; gap: 10px;">
                
                    <mat-form-field>
                        <mat-label>Seleccione el Metodo de Busqueda</mat-label>
                        <mat-select mat-select [(ngModel)]="opSelected" (selectionChange)="onOpChange()">
                            <mat-option *ngFor="let op of opList" [value]="op.opValor">
                                {{ op.opNombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                
                <div class="custom-form"></div>
                <mat-form-field>
                    <mat-label>Selecciona la Fecha de Inicio</mat-label>
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="selectedFechaInicio"
                        (dateChange)="onOpChange()">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Selecciona la Fecha de Fin</mat-label>
                    <input matInput [matDatepicker]="picker2" [(ngModel)]="selectedFechaFin"
                        (dateChange)="onOpChange()">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                </mat-form-field>
            </div>

        </div>
    </div>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
            <ng-container matColumnDef="Area">
                <th mat-header-cell *matHeaderCellDef> 
                    <div class="filter-head">
                        Area 
                        <div style="display: flex; flex-direction: row;">
                          <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(1)"><i
                              class="bi bi-funnel-fill"></i></button>
                        </div>
                      </div>
                      <div class="input-container" *ngIf="handleFilter && filterType == 1">
                        <input type="text" #filterInput (input)="applyStrFilter($event)">
                      </div>
                    </th>
                <td mat-cell *matCellDef="let element"> {{element.area}} </td>
            </ng-container>

            <ng-container matColumnDef="Departamento">
                <th mat-header-cell *matHeaderCellDef> 
                    <div class="filter-head">
                        Departamento 
                        <div style="display: flex; flex-direction: row;">
                          <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(2)"><i
                              class="bi bi-funnel-fill"></i></button>
                        </div>
                      </div>
                      <div class="input-container" *ngIf="handleFilter && filterType == 2">
                        <input type="text" #filterInput (input)="applyStrFilter($event)">
                      </div>
                    </th>
                <td mat-cell *matCellDef="let element"> {{element.departamento}} </td>

            </ng-container>
            <ng-container matColumnDef="Solicitante">
                <th mat-header-cell *matHeaderCellDef> 
                    <div class="filter-head">
                        Solicitante 
                        <div style="display: flex; flex-direction: row;">
                          <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(3)"><i
                              class="bi bi-funnel-fill"></i></button>
                        </div>
                      </div>
                      <div class="input-container" *ngIf="handleFilter && filterType == 3">
                        <input type="text" #filterInput (input)="applyStrFilter($event)">
                      </div>
                    </th>
                <td mat-cell *matCellDef="let element"> {{element.solicitante}} </td>

            </ng-container>
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> 
                    <div class="filter-head">
                        Fecha 
                        <div style="display: flex; flex-direction: row;">
                          <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(4)"><i
                              class="bi bi-funnel-fill"></i></button>
                        </div>
                      </div>
                      <div class="input-container" *ngIf="handleFilter && filterType == 4">
                        <input type="text" #filterInput (input)="applyStrFilter($event)">
                      </div>
                    </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>

            </ng-container>
            <ng-container matColumnDef="Motivo">
                <th mat-header-cell *matHeaderCellDef> 
                    <div class="filter-head">
                        Motivo 
                        <div style="display: flex; flex-direction: row;">
                          <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(5)"><i
                              class="bi bi-funnel-fill"></i></button>
                        </div>
                      </div>
                      <div class="input-container" *ngIf="handleFilter && filterType == 5">
                        <input type="text" #filterInput (input)="applyStrFilter($event)">
                      </div>
                    </th>
                <td mat-cell *matCellDef="let element"> {{element.motivo}} </td>

            </ng-container>
            <ng-container matColumnDef="Estado">
                <th mat-header-cell *matHeaderCellDef> 
                    <div class="filter-head">
                        Estado 
                        <div style="display: flex; flex-direction: row;">
                          <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(6)"><i
                              class="bi bi-funnel-fill"></i></button>
                        </div>
                      </div>
                      <div class="input-container" *ngIf="handleFilter && filterType == 6">
                        <input type="text" #filterInput (input)="applyStrFilter($event)">
                      </div>
                    </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>

            </ng-container>
            <!-- Fila de encabezado -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- Fila de datos -->
            <tr class="row-custom-hover" mat-row *matRowDef="let row; columns: displayedColumns;" class="row-custom-hover"
                (click)="selectRow(row)"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons="true"></mat-paginator>
    </div>

</div>