<div class="container">
    <h1 class="font-weight-bold">ROLES</h1>

    <div class="">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <button class="btn btn-primary m-2" (click)="changeView('consulta')">Consultar</button>
                        <button class="btn btn-primary m-2" (click)="changeView('crear')">Crear</button>
                        <button class="btn btn-primary m-2" [disabled]="!edicion" (click)="changeView('editar')">Editar</button>
                    </div>
              </div>
        </nav>
    </div>

    <!--FORMULARIO PARA CREAR LOS ROLES-->
    <div class="formRol" *ngIf="changeview === 'crear'">
        <h3 class="font-weight-bold" style="padding-top: 20pt;">Ingreso de roles</h3>
        <form class="form-rol">
            <div class="form cmp-form">
                <label class="form-label">Nombre de rol:</label>
                <input [(ngModel)]="nombre" name="nombre" type="text" id="form12" class="form-control" />
    
            </div>
            <div class="form cmp-form">
                <label class="form-label">Aplicacion:</label>
                <select class="form-select" name="aplicacion" [(ngModel)]="aplicacion">
                    <option value="ADMIN">Seguridad y acceso</option>
                    <option value="SOL">Solicitudes</option>
                </select>
            </div>
            <div class="form cmp-form">
                <label class="form-label">Estado:</label>
                <select class="form-select" name="estado" [(ngModel)]="estado">
                    <option value="A">Activo</option>
                    <option value="I">Inactivo</option>
                </select>
            </div>
        </form>
        <div class="text-end">
            <button [disabled]="!nombre || !aplicacion || !estado" 
            type="submit" class="btn btn-primary m-2" (click)="agregarRol()">Agregar rol</button>
            <button class="btn btn-danger m-2" (click)="cancelar()">Cancelar</button>
        </div>
        
    </div>
    
    <!--LISTA DE LOS ROLES-->
    <div class="listRol" *ngIf="changeview === 'consulta'">
        <h3 class="font-weight-bold" style="padding-top: 20pt;">Roles registrados</h3>

        <p class="text-danger no-rol text-center" *ngIf="listaRoles.length === 0">No hay roles registrados.</p>

        <table *ngIf="listaRoles.length != 0" class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Aplicacion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let rol of listaRoles let i=index">
                    <tr>
                        <th>{{i+1}}</th>
                        <td>{{rol.nombre}}</td>
                        <td [ngSwitch]="rol.aplicacion">
                            <span *ngSwitchCase="'ADMIN'">SEGURIDAD Y ACCESO</span>
                            <span *ngSwitchCase="'SOL'">SOLICITUDES</span></td>
                        <td [ngSwitch]="rol.estado">
                            <span *ngSwitchCase="'A'">Activo</span>
                            <span *ngSwitchCase="'I'">Inactivo</span></td>
                        <td><a class="text-success m-3" (click)="editarRol(rol,i)"><i class="bi bi-pencil-square h5"></i></a>
                            <a class="text-danger m-3" (click)="eliminarRol(i)"><i class="bi bi-trash3-fill h5"></i></a></td>
                    </tr>
                </ng-container>
            </tbody>
            
        </table>
    </div>

    <!--FORMULARIO PARA EDITAR LOS ROLES-->
    <div class="formRol" *ngIf="changeview === 'editar'">
        <h3 class="font-weight-bold" style="padding-top: 20pt;">Editar rol</h3>
        <form class="form-rol">
            <div class="form cmp-form">
                <label class="form-label">Nombre de rol:</label>
                <input [(ngModel)]="nombre" name="nombre" type="text" id="form12" class="form-control" />
            </div>
            <div class="form cmp-form">
                <label class="form-label">Aplicacion:</label>
                <select class="form-select" name="aplicacion" [(ngModel)]="aplicacion">
                    <option value="ADMIN">Seguridad y acceso</option>
                    <option value="SOL">Solicitudes</option>
                </select>
            </div>
            <div class="form cmp-form">
                <label class="form-label">Estado:</label>
                <select class="form-select" name="estado" [(ngModel)]="estado">
                    <option value="A">Activo</option>
                    <option value="I">Inactivo</option>
                </select>
            </div>
        </form>
        <div class="text-end">
            <button [disabled]="!nombre || !aplicacion || !estado" 
            type="submit" class="btn btn-primary m-2" (click)="guardarEdicion()">Guardar</button>
            <button class="btn btn-danger m-2" (click)="cancelar()">Cancelar</button>
        </div>
    </div>
    
</div>