.container {
    width: 75%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 50px;
}

.form-tiposol {
    width: 65%;
    margin: 0 auto;
    padding-top: 15px;
}

.cab-x {
    width: 150px;
}

.cab-z {
    width: 250px;
}

.table-hover tbody tr:hover {
    cursor: pointer;
}

.form-cot {
    padding-bottom: 100px;
}

.solicitud {
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(172, 172, 172);
}

.input-group-text {
    background-color: rgb(214, 214, 214);
}

.cel-prep {
    width: 110px;
    margin: 0 auto;
}

.tip {
    font-size: 9pt;
}

.navbar-nav {
    height: 40px;
}

.fromfisica td{
    background-color: rgb(231, 242, 255);
    font-weight: bold;
}

/*SUSTITUYE AL ESTILO DEL INPUT-GROUP DE BOOSTRAP*/
.custom-input-group {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    overflow: hidden;
}

.custom-label {
    color: #000000;
    margin: 0;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #d6d6d6;
    border-right: 1px solid #ced4da;
    border-radius: 0.25rem 0 0 0.25rem;
    flex-shrink: 0;
    white-space: nowrap;
}

.custom-input {
    flex-grow: 1;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: none;
    border-radius: 0 0.25rem 0.25rem 0;
}

.custom-input:disabled {
    color: black;
}

.custom-input:focus,
.custom-label:focus-within {
    outline: 0;
    border-color: #80bdff;
}

.custom-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.custom-form {
    display: flex;
    margin-bottom: 15px;
}

.custom-select {
    color: black;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #b3b3b3;
    border-radius: 5px 0 0 5px;
}

.success-button-outline {
    border-radius: 0 5px 5px 0;
}


.custom-align-items-center {
    display: flex;
    align-items: center;
}

.custom-form-select{
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 0px 0px 0px 0px;

}


.custom-form-control {
    border: 1px solid #ccc;
    padding: 9px 10px 9px 10px;
    font-size: 16px;
}

.custom-form-control:focus,
.custom-form-select:focus {
    outline: none;
    /* Elimina el contorno predeterminado en algunos navegadores */
}


.custom-btn {
    padding: 9px 10px 9px 10px;
    font-size: 16px;
    cursor: pointer;
}

.pagination-btnl{
    padding: 10px 12px 10px 12px;
    border-radius: 5px 0px 0px 5px;
}

.pagination-btnr{
    padding: 10px 12px 10px 12px;
    border-radius: 0 5px 5px 0;
}

.table-data{
    font-size: 10pt;
}

.ellipsis-container {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }