<app-menu></app-menu>
<div class="container">
  <h2 class="font-weight-bolt ruteo">Todas las solicitudes</h2>

  <div class="custom-form">
    <mat-form-field>
      <mat-label>Seleccione el tipo de Solicitud</mat-label>
      <mat-select mat-select name="tipoSol" [(ngModel)]="bsqTipoSol" (ngModelChange)="consultarSol()">
        <mat-option *ngFor="let tpsol of tipoSol$ | async" [value]="tpsol.tipoSolId">
          {{ tpsol.tipoSolNombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="column1">
        <th mat-header-cell *matHeaderCellDef>
          <div class="filter-head">
            Código
            <div style="display: flex; flex-direction: row;">
              <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(1)"><i
                  class="bi bi-funnel-fill"></i></button>
              <!-- <button class="filter-btn" mat-icon-button color="basic"><i class="bi bi-sort-down"></i></button> -->
            </div>
          </div>
          <div class="input-container" *ngIf="handleFilter && filterType == 1">
            <input type="text" #filterInput (input)="applyStrFilter($event)">
            <!-- <button matRipple class="clear-button" (click)="clearFilter()">✕</button> -->
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.column1}} </td>
      </ng-container>

      <ng-container matColumnDef="column2">
        <th mat-header-cell *matHeaderCellDef>
          <div class="filter-head">
            Departamento
            <div style="display: flex; flex-direction: row;">
              <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(2)"><i
                  class="bi bi-funnel-fill"></i></button>
              <!-- <button class="filter-btn" mat-icon-button color="basic"><i class="bi bi-sort-down"></i></button> -->
            </div>
          </div>
          <div class="input-container" *ngIf="handleFilter && filterType == 2">
            <input type="text" #filterInput (input)="applyStrFilter($event)">
            <!-- <button matRipple class="clear-button" (click)="clearFilter()">✕</button> -->
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.column2}} </td>
      </ng-container>

      <ng-container matColumnDef="column3">
        <th mat-header-cell *matHeaderCellDef>
          <div class="filter-head">
            Solicitante
            <div style="display: flex; flex-direction: row;">
              <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(3)"><i
                  class="bi bi-funnel-fill"></i></button>
              <!-- <button class="filter-btn" mat-icon-button color="basic"><i class="bi bi-sort-down"></i></button> -->
            </div>
          </div>
          <div class="input-container" *ngIf="handleFilter && filterType == 3">
            <input type="text" #filterInput (input)="applyStrFilter($event)">
            <!-- <button matRipple class="clear-button" (click)="clearFilter()">✕</button> -->
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.column3}} </td>
      </ng-container>

      <ng-container matColumnDef="column4">
        <th mat-header-cell *matHeaderCellDef>
          <div class="filter-head">
            <ng-container *ngIf="bsqTipoSol != 3">Asunto</ng-container>
            <ng-container *ngIf="bsqTipoSol == 3">OC Origen</ng-container>
            <div style="display: flex; flex-direction: row;">
              <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(4)"><i
                  class="bi bi-funnel-fill"></i></button>
              <!-- <button class="filter-btn" mat-icon-button color="basic"><i class="bi bi-sort-down"></i></button> -->
            </div>
          </div>
          <div class="input-container" *ngIf="handleFilter && filterType == 4">
            <input type="text" #filterInput (input)="applyStrFilter($event)">
            <!-- <button matRipple class="clear-button" (click)="clearFilter()">✕</button> -->
          </div>
        </th>
        <td mat-cell *matCellDef="let element" [matTooltip]="element.column4" matTooltipPosition="above" [matTooltipShowDelay]="700"
        [matTooltipHideDelay]="0" > 
          <span class="truncate-text">{{element.column4}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="column5">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.column5}} </td>
      </ng-container>

      <ng-container matColumnDef="column6">
        <th mat-header-cell *matHeaderCellDef>
          <div class="filter-head">
            Tracking
            <div style="display: flex; flex-direction: row;">
              <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(6)"><i
                  class="bi bi-funnel-fill"></i></button>
              <!-- <button class="filter-btn" mat-icon-button color="basic"><i class="bi bi-sort-down"></i></button> -->
            </div>
          </div>
          <div class="input-container" *ngIf="handleFilter && filterType == 6">
            <input type="text" #filterInput (input)="applyStrFilter($event)">
            <!-- <button matRipple class="clear-button" (click)="clearFilter()">✕</button> -->
          </div>
        </th>
        <td  [ngClass]="getRowColor(element.column11)" mat-cell *matCellDef="let element"> {{element.column6}} <br>
          <ng-container *ngIf="element.column10 == 1">
            <strong>Sin Presupuesto</strong>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="column7">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.column7}} </td>
      </ng-container>

      <ng-container matColumnDef="column8">
        <th mat-header-cell *matHeaderCellDef>
          <div class="filter-head">
            Encargado
            <div style="display: flex; flex-direction: row;">
              <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(8)"><i
                  class="bi bi-funnel-fill"></i></button>
              <!-- <button class="filter-btn" mat-icon-button color="basic"><i class="bi bi-sort-down"></i></button> -->
            </div>
          </div>
          <div class="input-container" *ngIf="handleFilter && filterType == 8">
            <input type="text" #filterInput (input)="applyStrFilter($event)">
            <!-- <button matRipple class="clear-button" (click)="clearFilter()">✕</button> -->
          </div>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.column8}} </td>
      </ng-container>

      <ng-container matColumnDef="column9">
        <th mat-header-cell *matHeaderCellDef>
          <div class="filter-head">
            <ng-container *ngIf="bsqTipoSol != 3">OC Generada</ng-container>
            <ng-container *ngIf="bsqTipoSol == 3">Destino</ng-container>
            <div style="display: flex; flex-direction: row;">
              <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(9)"><i
                  class="bi bi-funnel-fill"></i></button>
              <!-- <button class="filter-btn" mat-icon-button color="basic"><i class="bi bi-sort-down"></i></button> -->
            </div>
          </div>
          <div class="input-container" *ngIf="handleFilter && filterType == 9">
            <input type="text" #filterInput (input)="applyStrFilter($event)">
            <!-- <button matRipple class="clear-button" (click)="clearFilter()">✕</button> -->
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="bsqTipoSol != 3">{{returnEmptyData(element.column9)}}</ng-container>
          <ng-container *ngIf="bsqTipoSol == 3">
            <ng-container *ngIf="element.column9 == 1"><i
                class="bi bi-check-circle-fill text-success h5"></i></ng-container>
            <ng-container *ngIf="element.column9 == 0"><i class="bi bi-x-circle-fill text-danger h5"></i></ng-container>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="row-custom-hover" mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selectSol(row.column0)"></tr>
    </table>
    <mat-paginator [pageSize]="25" [pageSizeOptions]="[5,25, 50, 100, 500]" (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
  </div>
  <p *ngIf="bsqTipoSol == 3" style="font-weight: bold; font-style: italic; font-size: 9pt;">*Si desea filtrar por destino ingrese 0 para visualizar las solicitudes sin destino y 1 para visualizar las que sí tienen destino.</p>


</div>