.container{
    padding-left: 200px;
    padding-top: 25px;
}
.cmp-form{
    margin: 15px;
}
.pass-form{
    margin-left: 0px;
}
.form-label{
    padding-top: 5px;
}

.formUser{
    padding-top: 30pt;
    width: 65%;
    margin: 0 auto;
}