<mat-toolbar class="toolbar-custom">
  <div class="header-container">
    <a routerLink="/main"><img src="assets/img/logo.webp" alt="logo" class="logo" width="200"></a>
  </div>
  <span class="example-spacer"></span>
  <div>
    <button mat-raised-button color="warn" class="ml-2 text-end" (click)="logOut()">Cerrar sesión <i class="bi bi-person-circle"></i></button>
  </div>
</mat-toolbar>
<p class="username-header">Bienvenido: {{userName}}</p>

<div class="sidebar">
  <ul class="nav flex-column"> 
    <!-- Ejemplo de un elemento de menú con autorización -->

    <li class="nav-item dropdown" *appAuthorize="'74'">
      <button mat-stroked-button>
        Consultas <!-- Cambia el texto según tu necesidad -->
      </button>
      
      <div class="menu">
        <!-- Ejemplo de un ítem de menú con autorización -->
        <a *appAuthorize="'75'" class="item" mat-button routerLink="/calendario-evento-gest">Calendario de eventos</a>
        <a *appAuthorize="'75'" class="item" mat-button routerLink="/lista-ev-gest">Listado de eventos</a>

        <!-- Puedes añadir más elementos de menú aquí según tus requisitos -->
      </div>
    </li>

    <li class="nav-item dropdown" *appAuthorize="'74'">
      <button mat-stroked-button>
        Eventos <!-- Cambia el texto según tu necesidad -->
      </button>
      <div class="menu">
        <!-- Ejemplo de un ítem de menú con autorización -->
        <a *appAuthorize="'75'" class="item" mat-button routerLink="/addEventoGest">Agendar Evento</a>
        <!-- Puedes añadir más elementos de menú aquí según tus requisitos -->
      </div>
    </li>
  </ul>
  <!-- Ejemplo de un botón para regresar -->
  <div class="regresar">
    <button class="back-button" mat-raised-button onclick="history.back()"><i class="bi bi-arrow-left h4"></i></button> 
  </div>
</div>
