<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <div class="header-container d-flex">
      <button  class="btn btn-primary mr-3"   (click)="toggleSidebar()"><i class="bi bi-list h5"></i></button>
      <a routerLink="/main"><img src="assets/img/logo.png" alt="logo" class="logo"></a>
    </div>

    <div>
      <button class="btn btn-primary mr-5" (mouseover)="showString()" (click)="getUserManual()"><i class="bi bi-filetype-pdf"> {{manualString}}</i></button>
      <button class="btn btn-primary ml-2 text-end" (click)="logOut()">Cerrar sesión <i
          class="bi bi-person-circle"></i></button>
    </div>
  </nav>
  
</header>
<p class="text-end m-2 user-name" style="font-weight: bold; font-style: italic;">Usted se ha identificado como: {{userName}}</p>
<div class="sidebar" [ngClass]="{'show': showSB, 'hide': !showSB}">
  <ul class="nav flex-column">
    <li class="nav-item dropdown" *appAuthorize="'42'">
      <a class="nav-link dropdown-toggle btn " href="#" id="configuracionDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Configuración
      </a>
      <div class="dropdown-menu" aria-labelledby="configuracionDropdown">
        
        <a class="dropdown-item" routerLink="/ruteo" *appAuthorize="'21'">Ruteo</a>
        <!-- <a class="dropdown-item" routerLink="/documentos">Documentos</a> -->
      </div>
    </li>
    <li class="nav-item dropdown" *appAuthorize="'43'">
      <a class="nav-link dropdown-toggle btn " href="#" id="configuracionDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Procesos
      </a>
      <div class="dropdown-menu" aria-labelledby="configuracionDropdown">
        <a class="dropdown-item" (click)="routToCot()" *appAuthorize="'25'">Solicitud de cotizacion</a>
        <a class="dropdown-item" (click)="routToOC()" *appAuthorize="'28'">Solicitud de O/C</a>
        <a class="dropdown-item" (click)="routToPago()" *appAuthorize="'31'">Solicitud de pago</a>
        <a class="dropdown-item" routerLink="/allrequest" *appAuthorize="'34'">Todas las solicitudes</a>
        <a class="dropdown-item" routerLink="/solAprob" *appAuthorize="'35'">Consultar solicitudes</a>
        <!-- <a class="dropdown-item" routerLink="/solNoAprob">Solicitudes no aprobadas</a> -->
      </div>
    </li>
    <!-- <li class="nav-item dropdown" *appAuthorize="'44'">
      <a class="nav-link dropdown-toggle btn " href="#" id="configuracionDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Consultas
      </a>
      <div class="dropdown-menu" aria-labelledby="configuracionDropdown">
        <a class="dropdown-item" routerLink="norute">Consulta 1</a>
        <a class="dropdown-item" routerLink="norute">Consulta 2</a>
        <a class="dropdown-item" routerLink="norute">Consulta 3</a>
      </div>
    </li> -->
    
  </ul>
  <div class="text-center mt-5">
    <button class="btn btn-primary" (click)="backToMain()">Regresar</button>
  </div>
</div>



<!-- <nav class="sidebar" *ngIf="appSelected">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link">Configuración</a>
      <ul class="sub-menu">
        <li><a routerLink="/empleados">Empleados</a></li>
        <li><a routerLink="/ruteo">Ruteo</a></li>
        <li><a routerLink="/documentos">Documentos</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link">Procesos</a>
      <ul class="sub-menu">
        <li><a routerLink="/solicoti">Solicitud de cotizacion</a></li>
        <li><a routerLink="/solioc">Solicitud de O/C</a></li>
        <li><a routerLink="/solipago">Solicitud de pago</a></li>
        <li><a routerLink="norute">Todas las solicitudes</a></li>
        <li><a routerLink="norute">Solicitudes abiertas</a></li>
        <li><a routerLink="norute">Solicitudes no aprobadas</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link">Consultas</a>
      <ul class="sub-menu">
        <li><a routerLink="norute">Consulta 1</a></li>
        <li><a routerLink="norute">Consulta 2</a></li>
        <li><a routerLink="norute">Consulta 3</a></li>
      </ul>
    </li>
    <div class="text-center">
      <button class="btn btn-primary mt-5 col-md-5" (click)="backToMain()">Regresar</button>
    </div>
  </ul>
</nav> -->