<div class="destino mb-2">
    <div>
        <h3 class="strong">Destino de la solicitud</h3>
    </div>
    <div>
        <form>
            <div class="row">
                <div class="mb-2 col">
                    <label class="col-form-label">Entregado a:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="mb-2 col">
                    <label class="col-form-label">Sector:</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="mb-2">
                <label class="form-label">Observaciones:</label>
                <textarea class="form-control" rows="4"></textarea>
            </div>
            <div>
                <input id="inputFile" type="file" class="form-control" id="inputFile" accept-language="es" [appSecureDisable]="estadoSol" />
            </div>
        </form>
    </div>
</div>