.destino{
    background-color: rgb(202, 202, 202);
    border-radius: 5pt;
    padding: 20px;
}

.strong{
    font-weight: bold;
}

.galeria-evidencias{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}