<div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Área</th>
          <th>Nivel 1</th>
          <th>Nivel 2</th>
          <th>Nivel 3</th>
          <th>Nivel 4</th>
          <th>Nivel 5</th>
          <th>Nivel 6</th>
          <th>Nivel 7</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Operaciones</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr>
        <tr>
          <td>Sistemas</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr>
        <tr>
          <td>Marketing</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr>
        <tr>
          <td>Contabilidad</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
        </tr>
        <!-- Agrega más filas si es necesario -->
      </tbody>
    </table>
  </div>
  