.container{
  padding-left: 200px;
  padding-top: 25px;
  padding-bottom: 100px;
  margin: 0 auto;
}
.cmp-form{
  margin: 15px;
}
.form-label{
  padding-top: 5px;
}

.formulario{
  align-items: center;
}

.form-nivel{
  width: 65%;
  margin: 0 auto;
}

.formRol{
  padding-top: 30pt;
  padding-bottom: 100px;
  margin: 0 auto;
  width: 80%;
}
.formedit{
  width: 65%;
  margin: 0 auto;
}
.formCreate{
  width: 65%;
  margin: 0 auto;
}
.no-rol{
  border: 1px red solid;
  border-radius: 5px;
  padding: 8pt;
}
a:hover{
  cursor: pointer;
}

.col-sm{
  width: 10%;
}
.busqueda{
  width: 100%;
}
.lastidnomina{
  font-size: 10pt;
}