<app-menu></app-menu>

<div class="container">
  <h2 class="font-weight-bolt ruteo">RUTEO DE AREA</h2>

  <div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <button class="btn btn-primary m-2" (click)="changeView('consultar')">Consultar Niveles</button>
          <button class="btn btn-primary m-2" (click)="changeView('editar')">Asignar Niveles</button>
          <button class="btn btn-primary m-2" (click)="changeView('ingresar')">Crear Nivel</button>
        </div>
      </div>
    </nav>
  </div>

  <div class="formRol" *ngIf="changeview === 'ingresar'">
    <h3 class="font-weight-bold" style="padding-top: 20pt;">Registrar nuevo nivel</h3>

    <form class="form-rol">
      <div class="form cmp-form">
        <label class="form-label">Nombre:</label>
        <input [(ngModel)]="nvDescp" name="Nombre" type="text" class="form-control"
          placeholder="Ingrese el nombre del nivel." />
      </div>
      <div class="form cmp-form">
        <label class="form-label">Nivel:</label>
        <input [(ngModel)]="nvNivel" name="nivel" type="text" class="form-control"
          placeholder="Ingrese el numero del nivel." />
      </div>
      <div class="form cmp-form">
        <label class="form-label">Estado:</label>
        <select class="form-select" name="estado" [(ngModel)]="nvEstado">
          <option disabled selected value=''>Selecciona una opción...</option>
          <option value="A" selected>Activo</option>
          <option value="I">Inactivo</option>
        </select>
      </div>
    </form>
    <div>
      <span class="text-success">{{ mensajeExito }}</span>
    </div>

    <div class="text-end">
      <button type="submit" class="btn btn-primary m-2" [disabled]="!nvDescp || !nvNivel || !nvEstado"
        (click)="agregarNivel()">Agregar nivel</button>
      <button class="btn btn-danger m-2" (click)="cancelar()">Cancelar</button>
    </div>
  </div>

  <div class="formRol" *ngIf="changeview === 'consultar'">
    <h3 class="font-weight-bold" style="padding-top: 20pt;">Consultar niveles asignados</h3>

    <form class="form-nivel d-flex row mb-5">
      <label class="form-label">Area:</label>
      <div class="form input-group">
        <select class="form-select" name="Area" [(ngModel)]="busqArea">
          <option *ngFor="let area of areaList$|async" [value]="area.areaIdNomina">{{area.areaDecp}}</option>
        </select>
        <button class="btn btn-outline-success" (click)="consultarRuteo()">Consultar</button>
      </div>
    </form>

    <div class="mb-5">

      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th></th>
            <ng-container *ngFor="let niv of nivelRut$ | async">
              <th class="cab-y align-middle">{{ niv.descRuteo }}</th>
            </ng-container>
          </tr>
          <tr *ngFor="let sol of TipoSol$ | async">
            <th class="cab-x align-middle">{{ sol.tipoSolNombre }}</th>


            <td class="align-middle" *ngFor="let nvrut of nivelRut$ | async">
              <ng-container *ngFor="let i of ruteoList">
                <ng-container *ngIf="i.rutareaTipoSol === sol.tipoSolId">
                  <span *ngIf="nvrut.nivel === i.rutareaNivel">
                    <i class="bi bi-check-circle-fill text-success"></i>
                  </span>
                </ng-container>
              </ng-container>
            </td>


          </tr>
        </thead>
      </table>
    </div>
  </div>



  <div class="formRol" *ngIf="changeview === 'editar'">
    <h3 class="font-weight-bold" style="padding-top: 20pt;">Asignar niveles según el tipo de solicitud</h3>

    <form class="form-nivel d-flex row mb-5">
      <div class="form cmp-form col">
        <label class="form-label">Area:</label>
        <select class="form-select" name="Area" [(ngModel)]="rutArea">
          <option *ngFor="let area of areaList$|async" [value]="area.areaIdNomina">{{area.areaDecp}}</option>
        </select>
      </div>
      <div class="form cmp-form col">
        <label class="form-label">Tipo de Solicitud</label>
        <select class="form-select" name="Area" [(ngModel)]="rutTipoSol">
          <option *ngFor="let tipsol of TipoSol$|async" [value]="tipsol.tipoSolId">{{tipsol.tipoSolNombre}}</option>
        </select>
      </div>
    </form>

    <div class="mb-5">
      <table class="table table-bordered table-striped text-center">
        <thead>
          <tr>
            <th *ngFor="let item of nivelRut$ | async let i=index" class="col-sm align-middle">{{ item.descRuteo }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let nivel of nivelesList" class="align-middle">
              <input type="checkbox" [value]="nivel.estado" (change)="changeEstado(nivel)"
                [disabled]="!rutArea || !rutTipoSol">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="showmsjNivel">
      <span class="text-danger">
        Ya se ha asignado el nivel
        <ng-container *ngFor="let item of nivGuardados; let last=last">
          {{ item }}{{ !last ? ',' : '' }}
        </ng-container>
        a la solicitud del área seleccionada.
      </span>
    </div>
    <div>
      <span class="text-success">{{mensajeExito}}</span>
      <span class="text-danger">{{mensajeError}}</span>
    </div>
    <div class="text-end">
      <button class="btn btn-primary" (click)="guardarRuteo()" [disabled]="!rutArea || !rutTipoSol">Guardar</button>
      <button class="btn btn-danger ml-3" (click)="cancelar()">Cancelar</button>
    </div>
  </div>