<app-menu-tthh></app-menu-tthh>

<div class="container">
  <h2 class="font-weight-bolt">TALENTO HUMANO</h2>

  <h3 class="font-weight-bold" style="padding-top: 10pt">Registrar justificación de ausentismo</h3>

  <ng-container *ngIf="loading">
    <div class="custom-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="!loading">

    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Registro de Ausentismo">
        <div *ngTemplateOutlet="registroAus"></div>
      </mat-tab>
      <mat-tab label="Autorizar Ausentismo">
        <div *ngTemplateOutlet="autorizarAus"></div>
      </mat-tab>
    </mat-tab-group>

  </ng-container>

  
  <!-- plantilla de registro ausentismo -->
  <ng-template #registroAus>
    <div class="custom-form">
      <div class="aus-info">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Fecha</mat-label>
          <input matInput [value]="fechaString" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Solicitante</mat-label>
          <input matInput [value]="usuarioName" readonly>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Motivo</mat-label>
          <input matInput (input)="updateMotivosListFiltered($event)" [matAutocomplete]="auto" [(ngModel)]="motivoAusName" 
          (ngModelChange)="onMotivoSelected($event)" [readonly]="estadoProcesoAus > 10">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <ng-container *ngFor="let motivo of motivoListFiltered">
              <mat-option [value]="motivo.motDescripcion"
                (onSelectionChange)="setMotivo(motivo)">{{motivo.motDescripcion}}<span
                  *ngIf="motivo.motIfDocument === 1" class="requerido-doc"> - Requiere documento</span></mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Observación</mat-label>
          <textarea matInput style="max-height: 250px;" [(ngModel)]="observacionAus" [readonly]="estadoProcesoAus > 10"></textarea>
        </mat-form-field>


        <div class="datetime-container">
          <!-- Selección de fecha -->
          <mat-form-field appearance="outline">
            <mat-label>Desde</mat-label>
            <input matInput [matDatepicker]="StartDate" [(ngModel)]="selectedStartDate" [readonly]="estadoProcesoAus > 10">
            <mat-datepicker-toggle matIconSuffix [for]="StartDate" *ngIf="estadoProcesoAus == 10"></mat-datepicker-toggle>
            <mat-datepicker #StartDate></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Hora</mat-label>
            <input matInput type="number" min="0" max="23" [(ngModel)]="selectedStartHour" (ngModelChange)="verifyValidHour(1)" [readonly]="estadoProcesoAus > 10">
            <span class="invalid-date-message" *ngIf="!validStartHour">Hora no válida</span>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Minutos</mat-label>
            <input matInput type="number" min="0" max="59" [(ngModel)]="selectedStartMinutes" (ngModelChange)="verifyValidMinutes(1)" [readonly]="estadoProcesoAus > 10">
            <span class="invalid-date-message" *ngIf="!validStartMinutes">Minutos no válidos</span>
          </mat-form-field>
        </div>

        <div class="datetime-container">
          <!-- Selección de fecha -->
          <mat-form-field appearance="outline">
            <mat-label>Hasta</mat-label>
            <input matInput [matDatepicker]="EndDate" [(ngModel)]="selectedEndDate" [readonly]="estadoProcesoAus > 10">
            <mat-datepicker-toggle matIconSuffix [for]="EndDate" *ngIf="estadoProcesoAus == 10"></mat-datepicker-toggle>
            <mat-datepicker #EndDate></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Hora</mat-label>
            <input matInput type="number" min="0" max="23" [(ngModel)]="selectedEndHour" (ngModelChange)="verifyValidHour(2)" [readonly]="estadoProcesoAus > 10">
            <span class="invalid-date-message" *ngIf="!validEndHour">Hora no válida</span>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Minutos</mat-label>
            <input matInput type="number" min="0" max="59" [(ngModel)]="selectedEndMinutes" (ngModelChange)="verifyValidMinutes(2)" [readonly]="estadoProcesoAus > 10">
            <span class="invalid-date-message" *ngIf="!validEndMinutes">Minutos no válidos</span>
          </mat-form-field>
        </div>
      </div>


      <div class="aus-documentacion">
        <ng-container *ngIf="estadoProcesoAus == 10">
          <button type="button" mat-raised-button color="primary" style="margin-bottom: 5px;"
          (click)="fileInput.click()">Subir documentos <i class="bi bi-upload"></i></button>
          <input hidden (change)="onFileSelected($event)" #fileInput type="file"
          accept=".png, .jpg, .jpeg, .pdf, .doc, .docx, .xlsx" id="file">
        </ng-container>
        <div class="aus-doc-list">
          <ng-container *ngFor="let doc of documentList">
            <mat-card class="custom-card" [matTooltip]="doc.name" matTooltipPosition="above"
            [matTooltipShowDelay]="700" [matTooltipHideDelay]="0" (click)="openFile(doc)">
              <div class="card-header" *ngIf="estadoProcesoAus == 10">
                <button mat-mini-fab color="warn" (click)="deleteFile(doc.name); $event.stopPropagation()" style="z-index: 20 !important;">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <img mat-card-sm-image [src]="doc.img">
              <span class="truncate-text" style="font: 9pt; padding: 5px;">{{doc.name}}</span>
            </mat-card>
          </ng-container>
        </div>
      </div>

    </div>
    <div class="div-buttons" >
      <button mat-raised-button color="warn" (click)="clearForm()">Salir</button>
      <ng-container *ngIf="estadoProcesoAus == 10">
        <button mat-raised-button color="primary" (click)="triggerEnvio(false)">Guardar</button>
        <button mat-raised-button style="background-color: #00dd1d !important;" (click)="triggerEnvio(true)">Guardar y enviar</button>
      </ng-container>
    </div>
    
</ng-template>

<!-- plantilla de registro de autorizar ausentismo -->
<ng-template #autorizarAus>
  <div class="custom-form">
    <div class="div-buttonsAut">
      <button mat-raised-button color="primary" (click)="openDialog()">Devolver</button>
      <button mat-raised-button color="warn" (click)="openDialog()">Anular</button>
      <button mat-raised-button style="background-color: #00dd1d !important;" 
      (click)="openDialog()" >Autorizar</button>
    </div>
  </div>
</ng-template>