
header {
    background-color: #f8f9fa;
    padding: 10px;
    
    
}

.header-container img {
    max-width: 100%;
    height: auto;
  }
  

.logo {
    width: 400px;
    height: auto;
  }
  

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: #000;
}

.navbar-toggler {
    border: none;
}

.form-inline {
    flex-grow: 1;
    justify-content: center;
}

.form-control {
    width: 300px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .menu-toggle-icon {
    width: 20px;
    height: 2px;
    background-color: #000;
    position: relative;
  }
  
  .menu-toggle-icon:before,
  .menu-toggle-icon:after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: #000;
    position: absolute;
  }
  
  .menu-toggle-icon:before {
    top: -6px;
  }
  
  .menu-toggle-icon:after {
    top: 6px;
  }
  
  /* Estilos específicos para pantallas grandes */
  @media screen and (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }