<body class="text-center">
    <div class="mt-5">
        <img src="http://malecon.org.ec/img/logo_byn.png">
    </div>

    <div class="container">
        <form class="form-signin">


            <div class="login">
    
                <h1 class="h3 mb-3 font-weight-normal">Inicio de Sesion</h1>
    
                <div class="mt-5">
                    <div class="m-3">
                        <label for="inputEmail" class="sr-only">Usuario</label>
    
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""autofocus="">
                    </div>
                    <div class="m-3">
                        <label for="inputPassword" class="sr-only">Contraseña</label>
    
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                    </div>
                </div>
    
                <div class="text-center btn-login ">
                    <button class="btn col-3 btn-primary mt-3" type="submit" (click)="login()">Ingresar</button>
                </div>
    
    
            </div>
        </form>
    </div>
    


</body>