<app-menu></app-menu>
<div class="container">
    <h2>Información sobre las dimensiones</h2>

    <div>
        <h3><strong>Tipos de dimensiones</strong></h3>
        <div class="parrafo">
            <p>Existen 5 grupos de dimensiones que permiten al area de Contabilidad identificar los ingresos y egresos, los cuales son:</p>
            <ul>
                <li>Dimensiones presupuestarias</li>
                <li>Dimensiones de proyecto</li>
                <li>Dimensiones de sector</li>
                <li>Dimensiones de actividad</li>
                <li>Dimensiones de subactividad</li>
            </ul>
        </div>

        <h3><strong>Dimensiones presupuestarias</strong></h3>
        <div class="parrafo">
            <p>Las dimensiones presupuestarias están relacionadas con el control financiero de los proyectos y eventos. Esta dimensión ayuda a identificar el presupuesto asignado a cada solicitud, asegurando que los ingresos y egresos estén vinculados al presupuesto específico que se debe afectar. Por ejemplo, cuando se realiza una compra de insumos para un evento, la solicitud se asigna a la dimensión presupuestaria correspondiente al presupuesto de dicho evento.</p>
        </div>

        <!-- <h3><strong>Dimensiones de proyecto</strong></h3>
        <div class="parrafo">
            <p>Las dimensiones de proyecto identifican el proyecto o malecón específico al que pertenece una solicitud. Esto permite una organización clara de los recursos y los costos dentro de proyectos determinados. Por ejemplo si se realiza una solicitus de <span style="font-weight: 500;">'Provisión de gaseosas para el bar Dinosaurio'</span>, ésta pertencería al proyecto <span style="font-weight: 500;">'Malecón Simón Bolívar'</span> ya que el evento de Dinosaurios se esta desarrollando en dicho malecón.</p>
        </div>

        <h3><strong>Dimensiones de sector</strong></h3>
        <div class="parrafo">
            <p>Las dimensiones de sector permiten identificar a qué sector físico o geográfico está asociado un ingreso o egreso. Esto es útil para clasificar gastos relacionados con áreas específicas. Por ejemplo, si se adquieren luces para la <span style="font-weight: 500;">'Urna Norte del Palacio de Cristal'</span>, estos gastos se asociarán al <span style="font-weight: 500;">'Sector 1A'</span> , ayudando a ubicar de manera precisa dónde se están asignando los recursos.</p>
        </div>

        <h3><strong>Dimensiones se actividad</strong></h3>
        <div class="parrafo">
            <p>Las dimensiones de actividad permiten categorizar los eventos o tareas que generan ingresos o egresos dentro de un proyecto o sector. Estas actividades pueden ser eventos programados, como festivales o ferias, o tareas operativas, como el mantenimiento de instalaciones. Por ejemplo, la actividad <span style="font-weight: 500;">'Exhibición Halloween'</span> o <span style="font-weight: 500;">'PARQUEOS'</span> son actividades que permiten a contabilidad identificar cómo se asignan los fondos en estos casos específicos.</p>
        </div> -->

        <h3><strong>Dimensiones de subactividad</strong></h3>
        <div class="parrafo">
            <p>Las dimensiones de subactividad permiten una clasificación aún más detallada dentro de una actividad principal, agrupando diferentes líneas de negocio o áreas operativas que pertenecen a una actividad específica. Por ejemplo, dentro de la actividad <span style="font-weight: 500;">'Exhibición Halloween'</span>, pueden existir múltiples subactividades como la <span style="font-weight: 500;">'Boletería'</span> y el <span style="font-weight: 500;">'Bar Inferno'</span>, cada una con sus propios ingresos y egresos.</p>
        </div>
    </div>
</div>
