<mat-toolbar class="toolbar-custom">
  <div class="header-container">
    <a routerLink="/main"><img src="assets/img/logo.webp" alt="logo" class="logo" width="200"></a>
  </div>
  <span class="example-spacer"></span>
  <div>
    <button mat-raised-button color="warn" class="ml-2 text-end" (click)="logOut()">Cerrar sesión <i class="bi bi-person-circle"></i></button>
  </div>
</mat-toolbar>
<p class="username-header">Bienvenido: {{userName}}</p>

<div class="sidebar">
  <ul class="nav flex-column"> 


    <li class="nav-item dropdown" *appAuthorize="'74'">
      <button mat-stroked-button>
        Consultas
      </button>
      <div class="menu">
        <a *appAuthorize="'75'" class="item" mat-button routerLink="/historial-evento">Historial de eventos</a>
        <a *appAuthorize="'75'" class="item" mat-button routerLink="/calendario-evento">Calendario</a>
      </div>
    </li>

    <li class="nav-item dropdown" *appAuthorize="'74'">
      <button mat-stroked-button>
        Eventos
      </button>
      <div class="menu">

        <a *appAuthorize="'75'" class="item" mat-button routerLink="/formulario-evento">Crear Evento</a>

      </div>
    </li>
  </ul>

  <div class="regresar">
    <button class="back-button" mat-raised-button onclick="history.back()"><i class="bi bi-arrow-left h4"></i></button> 
  </div>
</div>
