<div class="row justify-content-between" >
  <div class="input-group col-6 " *appAuthorize="'38'">
    <label for="inputFile" class="input-group-text">
      <i class="bi bi-upload"></i>
    </label>
    <input
      id="inputFile"
      type="file"
      class="form-control"
      id="inputFile"
      (change)="getFiles($event)"
      [appSecureDisable]="estadoSol"
    />
    <button
      class="btn btn-success"
      (click)="sendfile()"
      [appSecureDisable]="estadoSol"
    >
      <i class="bi bi-upload"> Subir</i>
    </button>
  </div> 
<div class="col-2 w-2" >
    <button class="btn btn-success" (click)="allDownload()">Descargar</button>
  
</div></div>
<div>
  <div *ngIf="showExito" class="alert alert-success text-center" role="alert">
    <span
      ><i class="bi bi-upload"> {{ msjExito }}</i></span
    >
  </div>
  <div *ngIf="showError" class="alert alert-danger text-center" role="alert">
    <span
      ><i class="bi bi-x-circle"> {{ msjError }}</i></span
    >
  </div>
</div>

<!--  Visualizar PDF  -->
<div class="ini  m-3">
  <ng-container *ngFor="let pat of paths">
    <div class=" text-center documentos">
      <div class="text-end">
        <a (click)="deleteFile(pat.docUrlComleta)"
          ><i class="bi bi-x-lg"></i
        ></a>
      </div>

      <a href="{{ pat.docUrl }}" target="_blank">
        <img
          src="../../../../../assets/img/272699_pdf_icon.png"
          width="100"
          alt="..."
        />
        <h5 class="card-title">{{ pat.docNombre }}</h5>
        <a
          class="link-primary"
          (click)="DowmloadFile(pat.docUrl, pat.docNombre)"
          >Descargar</a
        >
      </a>
    </div>
  </ng-container>
</div>
