<div class="input-group m-2">
  <label for="inputFile" class="input-group-text">
    <i class="bi bi-upload"></i>
  </label>
  <input
    id="inputFile"
    type="file"
    class="form-control"
    id="inputFile"
    (change)="getFiles($event)"
  />
  <button class="btn btn-success" (click)="sendfile()">
    <i class="bi bi-check-lg"></i>
  </button>
  <button (click)="imprimir()">Ft</button>
  <button (click)="GetfileView()">obtener</button>
</div>
<!--  Visualizar PDF  -->
<div class="ini text-center m-3" >
  <ng-container *ngFor="let pat of paths" >
    <div class="documentos">
      <div class="contenidoPDF">
        <img src="../../../../../assets/img/PDF.png" width="100" alt="..." />
    
        <h5 class="card-title">{{ pat.docNombre}}</h5>
      </div>
    </div>
  </ng-container>
  <!-- <pdf-viewer [src]="'https://proassetspdlcom.cdnstatics2.com/usuaris/libros_contenido/arxius/40/39307_Inteligencia_artificial.pdf'"
    [render-text]="true"
    [original-size]="false"
    style="width: 100px; height: 200px"
></pdf-viewer> -->
</div>
