<div class="anulacion mb-3">
    <div class="m-2">
        <h2>Autorización de solicitud</h2>
        <div class="text-center">
            <div class="row buttons-ruteo">
                <button class="btn btn-success col m-2" (click)="enviarCotizacion()">Aprobar</button>
                <button class="btn btn-warning col m-2" (click)="noAutorizarCotizacion()">No autorizar</button>
                <button class="btn btn-danger col m-2" (click)="anularCotizacion()">Anular</button>
            </div>
        </div> 
    </div>
</div>
