<header>
  <nav class="navbar navbar-expand-lg  justify-content-between">
    <div class="header-container d-flex">
      <!-- <button  class="btn btn-primary mr-3"   (click)="toggleSidebar()"><i class="bi bi-list h5"></i></button> -->
      <a routerLink="/main"><img src="assets/img/logo.png" alt="logo" class="logo"></a>
    </div>

    <div>
      <button mat-raised-button class="mr-5" (mouseover)="showString()" (click)="getUserManual()"><i
          class="bi bi-filetype-pdf h5 text-danger"></i>{{manualString}}</button>

      <button mat-raised-button color="warn" class=" ml-2 text-end" (click)="logOut()">Cerrar sesión <i
          class="bi bi-person-circle"></i></button>
    </div>
  </nav>

  <p class="text-end" style="font-style: italic; color: white; margin-bottom: 0px !important;">Bienvenido: {{userName}}
  </p>
</header>
<p class="text-end m-2 user-name" style="font-weight: bold; font-style: italic;">Bienvenido: {{userName}}</p>

<div class="container contenido-main">
  <div class="row justify-content-center">
    <!-- MODIFICAR PARA GENERAR LAS CARDS DE MANERA DINAMICA -->
    <div class="card m-5 text-center" style="width: 18rem;" *appAuthorize="'45'">
      <img src="assets/img/shield.png" class="card-img-top" alt=".">
      <div class="card-body">
        <h4 class="card-title font-weight-bold text-center">SEGURIDAD Y ACCESO</h4>
        <button mat-raised-button (click)="goAdmin()" class="primary-button col-md-4 text-light">Ir</button>
      </div>
    </div>

    <div class="card m-5 text-center" style="width: 18rem;" *appAuthorize="'46'">
      <img src="assets/img/request.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title font-weight-bold text-center">SOLICITUDES</h4>
        <button mat-raised-button (click)="goRequests()" class="primary-button col-md-4 text-light">Ir</button>
      </div>
    </div>

    <div class="card m-5 text-center" style="width: 18rem;" *appAuthorize="'73'">
      <img src="assets/img/nomina.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title font-weight-bold text-center">NOMINA</h4>
        <button mat-raised-button (click)="goNomina()" class="primary-button col-md-4 text-light">Ir</button>
      </div> 
    </div>

    <div class="card m-5 text-center" style="width: 18rem;" *appAuthorize="'73'">
      <img src="assets/img/bitacora.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title font-weight-bold text-center">BITACORA</h4>
        <button mat-raised-button (click)="goBitacora()" class="primary-button col-md-4 text-light">Ir</button>
      </div> 
    </div>    
    <div class="card m-5 text-center" style="width: 18rem;" *appAuthorize="'73'">
      <img src="assets/img/bitacora.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="card-title font-weight-bold text-center">BITACORA</h4>
        <button mat-raised-button (click)="goBitacora()" class="primary-button col-md-4 text-light">Ir</button>
      </div> 

  </div>
</div>