<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <div class="header-container d-flex">

            <img src="../../../../assets/img/logo.png" alt="logo" class="logo">
        </div>


        <div>
            <button class="btn btn-primary mr-5">FAQ</button>
            <button class="btn btn-primary ml-2 text-end" (click)="logOut()">Cerrar sesión <i
                    class="bi bi-person-circle"></i></button>
        </div>
    </nav>
    

</header>
<p class="text-end m-2 user-name" style="font-weight: bold; font-style: italic;">Usted se ha identificado como: {{userName}}</p>
<div class="container">
    <div class="row justify-content-center">
        <div class="card m-5" style="width: 18rem;">
            <img src="../../../assets/img/shield.webp" class="card-img-top" alt=".">
            <div class="card-body">
                <h5 class="card-title font-weight-bold text-center">SEGURIDAD Y ACCESO</h5>
                <p class="card-text">Some text.</p>
                <a (click)="goAdmin()" class="btn btn-primary col-md-3 text-light">Ir</a>
            </div>
        </div>

        <div class="card m-5" style="width: 18rem;">
            <img src="../../../assets/img/request.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title font-weight-bold text-center">SOLICITUDES</h5>
                <p class="card-text">Some text.</p>
                <a (click)="goRequests()" class="btn btn-primary col-md-3 text-light">Ir</a>
            </div>
        </div>
    </div>
    <!-- <button class="btn btn-danger" (click)="clearCookies()">Limpiar cookies</button> -->

</div>