<app-menu></app-menu>
<div class="container">
  <h2 class="font-weight-bolt ruteo">CONSULTAR SOLICITUDES POR ESTADO</h2>

  <!--  -->
  <div class="formRol" *appAuthorize="'35'">
    <form class="form-tiposol d-flex row mb-5">
      <div class="form input-group">
       <div class="col" >
         <label class="form-label" for="tipoSol"> Tipo de Solicitud:</label>
         <select class="form-select" name="tipoSol" [(ngModel)]="AbierTipoSol">
           <option disabled selected value="0">Seleccione una opción...</option>
           <option *ngFor="let tpsol of tipoSol" [value]="tpsol.tipoSolId">
             {{ tpsol.tipoSolNombre }}
           </option>
         </select>
       </div>
        <div class="col" >
          <label class="form-label" for="estadoSol"> Estados:</label>
          <select class="form-select" name="estadoSol" [(ngModel)]="Allstate">
            <option disabled selected value="0">Seleccione una opción...</option>
            <option value="A">Activo</option>
            <option value="C">Cancelado</option>
            <option value="F">Finalizado</option>
          </select>
        </div>
        <div class="botones" >
          <button
            class="btn btn-outline-success"
            (click)="consultarSolicitudes()"
          >
            Consultar
          </button>
        </div>
      </div>
    </form>
    <div class="align-items-center input-group mb-3 justify-content-end">
      <button class="btn btn-primary" (click)="prevPage()">
        <i class="bi bi-arrow-left"></i>
      </button>
      <button class="btn btn-primary" (click)="nextPage()">
        <i class="bi bi-arrow-right"></i>
      </button>
    </div>
    <div class="mb-5">
      <table
        class="table table-bordered text-center table-hover"
        id="table-data"
      >
        <thead>
          <tr>
            <th class="align-middle cab-x">Código</th>
            <th class="align-middle cab-z">Area solicitante</th>
            <th class="align-middle cab-x">N° Solicitud</th>
            <th class="align-middle cab-z">Empleado solicitante</th>
            <th class="align-middle cab-x">Fecha</th>
            <th class="align-middle cab-x">Estado</th>
            <th class="align-middle cab-x">Tracking</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!isConsulta">
            <td class="text-danger" colspan="8">
              Aún no se han consultado solicitudes
            </td>
          </tr>
          <tr *ngIf="!isSolicitud">
            <td class="text-danger" colspan="8">
              No se han registrado items para esta solicitud
            </td>
          </tr>
          <tr *ngIf="!isSolicitud">
            <td class="text-danger" colspan="8">
              No se han registrado items para esta solicitud
            </td>
          </tr>
          <ng-container *ngIf="btp == 1">
            <tr *ngFor="let sol of allSol | paginate: { itemsPerPage: 10, currentPage: currentPage } ">
              <td class="align-middle">{{ sol.cabSolCotNumerico }}</td>
              <ng-container *ngFor="let area of areaList">
                <td
                  class="align-middle"
                  *ngIf="area.areaIdNomina === sol.cabSolCotArea"
                >
                  {{ area.areaDecp }}
                </td>
              </ng-container>
              <td class="align-middle">{{ sol.cabSolCotNoSolicitud }}</td>
              <ng-container *ngFor="let emp of empleadoList">
                <td
                  class="align-middle"
                  *ngIf="emp.empleadoIdNomina === sol.cabSolCotSolicitante"
                >
                  {{ emp.empleadoNombres }} {{ emp.empleadoApellidos }}
                </td>
              </ng-container>
              <td class="align-middle">
                {{ sol.cabSolCotFecha | date : "yyyy-MM-dd" }}
              </td>
              <td class="align-middle" [ngSwitch]="sol.cabSolCotEstado">
                <span *ngSwitchCase="'A'">Activo</span>
                <span *ngSwitchCase="'F'">Finalizado</span>
                <span *ngSwitchCase="'C'">Cancelado</span>
              </td>
              <ng-container *ngFor="let trck of trckList">
                <td
                  class="align-middle"
                  *ngIf="trck.nivel === sol.cabSolCotEstadoTracking"
                >
                  {{ trck.descRuteo }}
                </td>
              </ng-container>
            </tr>
          </ng-container>

          <ng-container *ngIf="btp == 2">
            <tr *ngFor="let sol of allSol | paginate: { itemsPerPage: 10, currentPage: currentPage } ">
              <td class="align-middle">{{ sol.cabSolOCNumerico }}</td>
              <ng-container *ngFor="let area of areaList">
                <td
                  class="align-middle"
                  *ngIf="area.areaIdNomina === sol.cabSolOCArea"
                >
                  {{ area.areaDecp }}
                </td>
              </ng-container>
              <td class="align-middle">{{ sol.cabSolOCNoSolicitud }}</td>
              <ng-container *ngFor="let emp of empleadoList">
                <td
                  class="align-middle"
                  *ngIf="emp.empleadoIdNomina === sol.cabSolOCSolicitante"
                >
                  {{ emp.empleadoNombres }}<br />{{ emp.empleadoApellidos }}
                </td>
              </ng-container>
              <td class="align-middle">
                {{ sol.cabSolOCFecha | date : "yyyy-MM-dd" }}
              </td>
              <td class="align-middle" [ngSwitch]="sol.cabSolOCEstado">
                <span *ngSwitchCase="'A'">Activo</span>
                <span *ngSwitchCase="'F'">Finalizado</span>
                <span *ngSwitchCase="'C'">Cancelado</span>
              </td>
              <ng-container *ngFor="let trck of trckList">
                <td
                  class="align-middle"
                  *ngIf="trck.nivel === sol.cabSolOCEstadoTracking"
                >
                  {{ trck.descRuteo }}
                </td>
              </ng-container>
            </tr>
          </ng-container>

          <ng-container *ngIf="btp == 3 ">
            <tr *ngFor="let sol of allSol | paginate: { itemsPerPage: 10, currentPage: currentPage } ">
              <td class="align-middle">{{ sol.cabPagoNumerico }}</td>
              <ng-container *ngFor="let area of areaList">
                <td
                  class="align-middle"
                  *ngIf="area.areaIdNomina === sol.cabPagoAreaSolicitante"
                >
                  {{ area.areaDecp }}
                </td>
              </ng-container>
              <td class="align-middle">{{ sol.cabPagoNoSolicitud }}</td>
              <ng-container *ngFor="let emp of empleadoList">
                <td
                  class="align-middle"
                  *ngIf="emp.empleadoIdNomina === sol.cabPagoSolicitante"
                >
                  {{ emp.empleadoNombres }}<br />{{ emp.empleadoApellidos }}
                </td>
              </ng-container>

              <td class="align-middle">
                {{ sol.cabPagoFechaEmision | date : "yyyy-MM-dd" }}
              </td>
              <td class="align-middle" [ngSwitch]="sol.cabPagoEstado">
                <span *ngSwitchCase="'A'">Activo</span>
                <span *ngSwitchCase="'F'">Finalizado</span>
                <span *ngSwitchCase="'C'">Cancelado</span>
              </td>
              <ng-container *ngFor="let trck of trckList">
                <td
                  class="align-middle"
                  *ngIf="trck.nivel === sol.cabPagoEstadoTrack"
                >
                  {{ trck.descRuteo }}
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="text-end">
      <button [disabled]="!isConsulta" (click)="exportexcel()">
        <img src="../../../../assets/img/272697_excel_icon.png" alt="" />
      </button>
    </div>
  </div>
</div>
