.container {
    width: 70%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 50px;
}

.form-tiposol {
    width: 65%;
    margin: 0 auto;
    padding-top: 15px;
}

.cab-x {
    width: 150px;
}

.cab-z {
    width: 250px;
}


.form-cot {
    padding-bottom: 100px;
}

.solicitud {
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(172, 172, 172);
}

.input-group-text {
    background-color: rgb(214, 214, 214);
}

.cel-prep {
    width: 110px;
    margin: 0 auto;
}

.tip {
    font-size: 9pt;
}

.navbar-nav{
    height: 40px;
}
.form-label{
    display: flex;
    align-items: flex-end;  
    font-weight: 600;
    margin-right: 0.5rem;
}
.botones{
    display: flex;
    align-items: flex-end;
}
.text-end button{
    border: none  !important;
    background: transparent !important;
}