@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



header {
    background-color: #f8f9fa;
    padding: 10px;
   
}

.header-container img {
    max-width: 100%;
    height: auto;
  }
  

.logo {
    width: 400px;
    height: auto;
  }
  

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: #000;
}


.form-inline {
    flex-grow: 1;
    justify-content: center;
}

.form-control {
    width: 300px;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

  
  /* Estilos específicos para pantallas grandes */
  @media screen and (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }

  .sidebar {
    float: left;
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
  }
  
  .sidebar ul {
    list-style: none;
    padding-left: 0;
  }
  
  .sidebar .sub-menu {
    padding-left: 20px;
  }
  
  .sidebar .sub-menu li {
    margin-bottom: 5px;
  }
  
  a{
    text-decoration: none !important;
  }
  a:hover{
    cursor: pointer;
  }
  /* Agrega estilos adicionales según tus necesidades */
  

  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
