.container {
    width: 70%;
    margin: 0 auto;
    padding-top: 25px;
}

.form-cot {
    padding-bottom: 100px;
}

.solicitud {
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: rgb(172, 172, 172);
}

.solicitudEdit {
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(172, 172, 172);
}

.input-group-text {
    background-color: rgb(214, 214, 214);
}

.std{
    padding-left: 0px;
}
  
.cel-prep {
    width: 110px;
    margin: 0 auto;
}

.tip{
    font-size: 9pt;
}

.mr-3{
    margin-right: 10px !important;
}

.limited-textarea{
    max-height: 120px;
}

.presupuestaria{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-presupuesto{
    display: flex;
    flex-direction: row;
}

.tabs-edit{
    margin-bottom: 1px;
}

.btn-border{
    /*bordes que no se muestren*/
    border: 0px;
}

#anulacion{
    background-color: rgb(255, 73, 73);
    color: white;
    border-radius: 5px 5px 0px 0px;
}

#anulacion:hover{
    background-color: rgb(136, 37, 37);
    color: white;
    border-radius: 5px 5px 0px 0px;
}

#anulacion:active {
    background-color: rgb(136, 37, 37);
    color: white;
    border-radius: 5px 5px 0px 0px;
}

.anulacion{
    background-color: rgb(237, 237, 237);
    border-radius: 5pt;
}

.buttons-ruteo{
    width: 50%;
    margin: 0 auto;
}