<app-menu></app-menu>
<div class="container">
    <h2 class="font-weight-bolt ruteo">Solicitud de Cotizacion</h2>
    <div class="">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <button class="btn btn-primary m-2">Crear</button>
                    <button class="btn btn-primary m-2">Boton</button>
                    <span *ngIf="changeview === 'crear'"></span>
                </div>
            </div>
        </nav>
    </div>

    <div class="form-cot"> <!-- Aqui iría la condicion para mostrar u ocultar el contenido -->
        <h3 class="font-weight-bold" style="padding-top: 20pt;">Registrar nueva solicitud de cotización</h3>


        <div class="solicitud">

            <div class="cabecera mb-3">
                <div class="input-group mb-1">
                    <label class="input-group-text">Fecha:</label>
                    <input type="text" class="form-control" disabled [(ngModel)]="fechaFormat">
                </div>
                <div class="row mb-1">
                    <div class="input-group col">
                        <label class="input-group-text">Solicitado por:</label>
                        <input type="text" class="form-control" id="busqueda" list="sugerencias" [(ngModel)]="empleado"
                            (keyup)="searchEmpleado()" placeholder="Ingrese el nombre del empleado">
                        <datalist id="sugerencias">
                            <ng-container *ngFor="let emp of empleados">
                                <option [value]="emp.empleadoNombres + ' ' + emp.empleadoApellidos"></option>
                            </ng-container>
                        </datalist>
                        <button class="btn btn-success" (click)="selectEmpleado()"><i
                                class="bi bi-check-lg"></i></button>
                    </div>
                    <div class="input-group col">
                        <label class="input-group-text">Area:</label>
                        <input type="text" class="form-control" [value]="showArea"
                            placeholder="Area del empleado solicitante" disabled>

                    </div>
                </div>
                <div class="input-group mb-1">
                    <label class="input-group-text">Asunto:</label>
                    <input type="text" class="form-control" placeholder="Ingrese el asunto" [(ngModel)]="cab_asunto">
                </div>
            </div>


            <div class="detalle">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Presupuesto</th>
                            <th scope="col">Unidad</th>
                            <th scope="col">Cantidad Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let det of detalleList">
                            <td class="align-middle">{{det.det_id}}</td>
                            <td class="align-middle">{{det.det_descp}}</td>
                            <td class="align-middle">Asignado</td>
                            <td class="align-middle">{{det.det_unidad}}</td>
                            <td class="align-middle">{{det.det_cantidad}}</td>
                        </tr>
                        <tr>
                            <th class="align-middle">{{det_id}}</th>
                            <td class="align-middle">
                                <textarea name="descripcion" class="form-control" rows="2" cols="50"
                                    placeholder="Descripción" [(ngModel)]="det_descp"></textarea>
                            </td>
                            <td class="align-middle ">
                                <button class="btn btn-outline-primary" data-toggle="modal"
                                    data-target="#itemsector">Desglose</button>
                            </td>
                            <td class="align-middle" style="width: 150px;">
                                <select class="form-control" [(ngModel)]="det_unidad">
                                    <option value="Unidad" selected>Unidad</option>
                                    <option value="Sacos">Sacos</option>
                                    <option value="Paquete">Paquete</option>
                                    <option value="Avance de Obra">Avance de Obra</option>
                                    <option value="Millar">Millar</option>
                                    <option value="Metros">Metros</option>
                                    <option value="Kilos">Kilos</option>
                                    <option value="Gramos">Gramos</option>
                                    <option value="Caneca">Caneca</option>
                                </select>
                            </td>
                            <td class="align-middle cel-prep">
                                <input type="text" class="form-control text-center" [(ngModel)]="det_cantidad" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="align-middle text-end"><button class="btn btn-success"><i
                                        (click)="addDetalle()" class="bi bi-list-check"></i></button></td>
                        </tr>
                    </tbody>
                    
                    
                </table>
                <div class="text-end" style="padding-bottom: 5pt;">
                    <span class="text-dark">*Presione el botón para agregar el detalle.</span>
                </div>
            </div>

            <div class="foot-cabecera">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" [(ngModel)]="cab_proc"
                        placeholder="Materiales y procedimientos a seguir:">
                    <label for="floatingInput">Materiales y procedimientos a seguir:</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" [(ngModel)]="cab_obsrv"
                        placeholder="Materiales y procedimientos a seguir:">
                    <label for="floatingInput">Observaciones:</label>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Adjunto cotizaciones:</label>
                    <select class="form-select" [(ngModel)]="cab_adjCot">
                        <option value="SI">Sí</option>
                        <option value="NO" selected>No</option>
                    </select>
                    <label class="input-group-text">Número de cotizaciones:</label>
                    <input class="form-control" type="number" placeholder="Cantidad">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text">Plazo de entrega:</label>
                    <input class="form-control" type="date" for="plazoentrega" [(ngModel)]="cab_plazo">
                    <label class="input-group-text">Fecha máxima de entrega:</label>
                    <input class="form-control" type="date" for="fechamaxima" [(ngModel)]="cab_fechaMax">
                </div>
                <div class="input-group">
                    <label class="input-group-text">Inspector:</label>
                    <input type="text" class="form-control" id="busqueda" list="inspectores" [(ngModel)]="inspector"
                        (keyup)="searchInspector()" (input)="onInputChanged()"
                        placeholder="Ingrese el nombre del inspector">
                    <datalist id="inspectores">
                        <ng-container *ngFor="let empOP of inspectores">
                            <option [value]="empOP.empleadoNombres + ' ' + empOP.empleadoApellidos"></option>
                        </ng-container>
                    </datalist>
                    <label class="input-group-text">Teléfono:</label>
                    <input class="form-control" type="text" placeholder="Ingrese el teléfono del inspector"
                        [(ngModel)]="cab_telef_insp">
                </div>
            </div>
        </div>
        <div>
            <span class="text-success">{{ msjExito }}</span>
            <span class="text-danger">{{ msjError }}</span>
        </div>
        <div class="text-end">
            <button class="btn btn-primary m-2" (click)="generarSolicitud()">Guardar</button>
            <button class="btn btn-danger m-2">Cancelar</button>
        </div>


    </div>

    <!-- Modal para los items por sector-->
    <div class="modal fade" #exampleModal id="itemsector" data-backdrop="static" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h3 class=" font-weight-bold" id="exampleModalLabel">Ingrese los items según el sector</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-striped text-center justify-content-center">
                        <thead>
                            <tr>
                                <th scope="col">N° Detalle</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">N° Item</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Sector</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tmpItemSect">
                                <td class="align-middle">{{item.det_id}}</td>
                                <td class="align-middle">{{item.det_descp}}</td>
                                <td class="align-middle">{{item.item_id}}</td>
                                <td class="align-middle">{{item.item_cant}}</td>
                                <td class="align-middle">{{item.item_sector}}</td>
                            </tr>
                            <tr>
                                <td class="align-middle">{{det_id}}</td>
                                <td class="align-middle">
                                    <input class="form-control" type="text" value='Descripción' [(ngModel)]="det_descp"
                                        placeholder="Descripción" disabled>
                                </td>
                                <td class="align-middle cel-prep">
                                    <input type="text" class="form-control text-center" [(ngModel)]="item_id" disabled>
                                </td>
                                <td class="align-middle ">
                                    <div class=" cel-prep">
                                        <input class="form-control" [(ngModel)]="item_cant" min="1" type="number"
                                            placeholder="Cantidad">
                                    </div>

                                </td>
                                <td class="align-middle" style="width: 150px;">
                                    <div class="cel-prep">
                                        <select class="form-select" [(ngModel)]="item_sector">
                                            <option value="0" disabled selected>Seleccione</option>
                                            <option value="1">Sector 1</option>
                                            <option value="2">Sector 2</option>
                                            <option value="3">Sector 3</option>
                                            <option value="4">sector 4</option>
                                        </select>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td colspan="5" class="align-middle text-end"><button class="btn btn-success"
                                        (click)="addItemSector()">
                                        <i class="bi bi-list-check"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="saveItemSect()">Confirmar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>

                </div>
            </div>
        </div>
    </div>
</div>