<div class="input-group m-2" *appAuthorize="'39'">
  <label for="inputFile" class="input-group-text">
    <i class="bi bi-upload"></i>
  </label>
  <input
    id="inputFile"
    type="file"
    class="form-control"
    id="inputFile"
    (change)="getFiles($event)"
    [appSecureDisable]= "estadoSol"
  />
  <button class="btn btn-success" (click)="sendfile()" [appSecureDisable]= "estadoSol">
    <i class="bi bi-upload">  Subir</i>
  </button>
</div>
<div  >
  <div *ngIf="showExito" class="alert alert-success text-center" role="alert">
    <span
      ><i class="bi bi-upload"> {{ msjExito }}</i></span
    >
  </div>
  <div *ngIf="showError" class="alert alert-danger text-center" role="alert">
    <span
      ><i class="bi bi-x-circle"> {{ msjError }}</i></span
    >
  </div>
</div>
<!--  Visualizar PDF  -->
<div class="ini text-center m-3">
  <ng-container *ngFor="let pat of paths">
    <a href="{{ pat.docUrl }}" target="_blank">
      <div class="documentos">
        <img
          src="../../../../../assets/img/272699_pdf_icon.png"
          width="100"
          alt="..."
        />
        <h5 class="card-title">{{ pat.docNombre }}</h5>
      </div>
    </a>
    <!-- <pdf-viewer [src]="pdfSrc"
    [render-text]="true"
    [original-size]="false"
    style="width: 100px; height: 200px"
></pdf-viewer> -->
  </ng-container>
</div>
