<div>
  <div class="text-center-custom">
    <h2 mat-dialog-title>Mensaje</h2>
  </div>
  <div class="span-divisor"></div>
  <div mat-dialog-content class="content-center-custom">
    <p>{{ data.mensaje }}</p>
    <mat-form-field>
      <mat-label for="observacion">Observación (Opcional):</mat-label>
      <textarea matInput id="observacion" [(ngModel)]="observacionAus">
      </textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions style="justify-content: center; padding-bottom: 20px;">
    <button mat-flat-button color="warn" (click)="closeDialogAut()">Cancelar</button>
    <button mat-flat-button color="primary" (click)="confirmActionAut()">Aceptar</button>
  </div>
</div>