<app-menu-comint></app-menu-comint>
<div class="contenido-main">
    <h2 class="font-weight-bolt ruteo">Alertas de evento</h2>

    <h3 class="font-weight-bold" style="padding-top: 20pt">
        Alertas registradas
    </h3>
    <ng-container *appAuthorize="'97'">

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filter-head">
                            Tipo
                            <div style="display: flex; flex-direction: row;">
                                <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(1)"><i
                                        class="bi bi-funnel-fill"></i></button>
                                <!-- <button class="filter-btn" mat-icon-button color="basic"><i class="bi bi-sort-down"></i></button> -->
                            </div>
                        </div>
                        <div class="input-container" *ngIf="handleFilter  && filterType == 1">
                            <!-- <button matRipple class="clear-button" (click)="clearFilter()">✕</button> -->
                            <select (change)="applyListFilter($event)">
                                <ng-container *ngFor="let u of alertTypesList">
                                    <option [value]="u.typeAltId">{{u.typeAltDescripcion}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </th>
                    <td class="mat-cell-custom" mat-cell *matCellDef="let element"> {{
                        getTipoAlertaName(element.altEvTipoAlerta) }} </td>
                </ng-container>

                <ng-container matColumnDef="asunto">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filter-head">
                            Asunto
                            <div style="display: flex; flex-direction: row;">
                                <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(2)"><i
                                        class="bi bi-funnel-fill"></i></button>
                                <!-- <button class="filter-btn" mat-icon-button color="basic"><i class="bi bi-sort-down"></i></button> -->
                                <button class="filter-btn" mat-icon-button color="basic"
                                    [matMenuTriggerFor]="menuNombre"><i class="bi bi-sort-down"></i></button>
                                <mat-menu #menuNombre="matMenu">
                                    <button mat-menu-item style="font-size: 10pt !important;"
                                        (click)="sortByAsunto(1)"><i class="bi bi-sort-alpha-down"></i>
                                        Ascendente</button>
                                    <button mat-menu-item style="font-size: 10pt !important;"
                                        (click)="sortByAsunto(2)"><i class="bi bi-sort-alpha-down-alt"></i>
                                        Descendente</button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="input-container" *ngIf="handleFilter && filterType == 2">
                            <input type="text" (input)="applyStrFilter($event)">
                            <!-- <button matRipple class="clear-button" (click)="clearFilter()">✕</button> -->
                        </div>
                    </th>
                    <td class="mat-cell-custom" mat-cell *matCellDef="let element"> {{ element.altEvTituloAlerta }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td class="mat-cell-custom" mat-cell *matCellDef="let element"> {{
                        getFechaFormat(element.altEvFechaEvento) }} </td>
                </ng-container>

                <ng-container matColumnDef="hora">
                    <th mat-header-cell *matHeaderCellDef> Hora </th>
                    <td class="mat-cell-custom" mat-cell *matCellDef="let element"> {{
                        getHoraFormat(element.altEvHoraEvento) }} </td>
                </ng-container>

                <ng-container matColumnDef="lugar">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filter-head">
                            Lugar
                            <div style="display: flex; flex-direction: row;">
                                <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(3)"><i
                                        class="bi bi-funnel-fill"></i></button>
                                <!-- <button class="filter-btn" mat-icon-button color="basic"><i class="bi bi-sort-down"></i></button> -->
                            </div>
                        </div>
                        <div class="input-container" *ngIf="handleFilter && filterType == 3">
                            <input type="text" (input)="applyStrFilter($event)">
                            <!-- <button matRipple class="clear-button" (click)="clearFilter()">✕</button> -->
                        </div>
                    </th>
                    <td class="mat-cell-custom" mat-cell *matCellDef="let element">{{ element.altEvLugar }}</td>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filter-head">
                            Estado
                            <div style="display: flex; flex-direction: row;">
                                <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(4)"><i
                                        class="bi bi-funnel-fill"></i></button>
                                <!-- <button class="filter-btn" mat-icon-button color="basic"><i class="bi bi-sort-down"></i></button> -->
                            </div>
                        </div>
                        <div class="input-container" *ngIf="handleFilter  && filterType == 4">
                            <!-- <button matRipple class="clear-button" (click)="clearFilter()">✕</button> -->
                            <select (change)="applyListFilter($event)">
                                <ng-container *ngFor="let u of estadoAlertList">
                                    <option [value]="u.estEvId">{{u.estEvNombre}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </th>
                    <td class="mat-cell-custom" mat-cell *matCellDef="let element"> {{
                        getEstadoAlertaName(element.altEvEstadoEvento) }} </td>
                </ng-container>

                <ng-container matColumnDef="enviado">
                    <th mat-header-cell *matHeaderCellDef> Envíos </th>
                    <td class="mat-cell-custom" mat-cell *matCellDef="let element"> {{ getNumEnvios(element.altEvId) }}
                    </td>
                </ng-container>

                <tr mat-header-row class="center-content" *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectAlertEvent(row)"></tr>
            </table>
            <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements"></mat-paginator>
        </div>
    </ng-container>

    <ng-container *appAuthorize="'98'">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSourceView" class="mat-elevation-z8">

                <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filter-head">
                            Tipo
                            <div style="display: flex; flex-direction: row;">
                                <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(1)"><i
                                        class="bi bi-funnel-fill"></i></button>
                                <!-- <button class="filter-btn" mat-icon-button color="basic"><i class="bi bi-sort-down"></i></button> -->
                            </div>
                        </div>
                        <div class="input-container" *ngIf="handleFilter  && filterType == 1">
                            <!-- <button matRipple class="clear-button" (click)="clearFilter()">✕</button> -->
                            <select (change)="applyListFilter($event)">
                                <ng-container *ngFor="let u of alertTypesList">
                                    <option [value]="u.typeAltId">{{u.typeAltDescripcion}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </th>
                    <td class="mat-cell-custom" mat-cell *matCellDef="let element"> {{
                        getTipoAlertaName(element.altEvTipoAlerta) }} </td>
                </ng-container>

                <ng-container matColumnDef="asunto">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filter-head">
                            Asunto
                            <div style="display: flex; flex-direction: row;">
                                <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(2)"><i
                                        class="bi bi-funnel-fill"></i></button>
                                <!-- <button class="filter-btn" mat-icon-button color="basic"><i class="bi bi-sort-down"></i></button> -->
                                <button class="filter-btn" mat-icon-button color="basic"
                                    [matMenuTriggerFor]="menuNombre"><i class="bi bi-sort-down"></i></button>
                                <mat-menu #menuNombre="matMenu">
                                    <button mat-menu-item style="font-size: 10pt !important;"
                                        (click)="sortByAsunto(1)"><i class="bi bi-sort-alpha-down"></i>
                                        Ascendente</button>
                                    <button mat-menu-item style="font-size: 10pt !important;"
                                        (click)="sortByAsunto(2)"><i class="bi bi-sort-alpha-down-alt"></i>
                                        Descendente</button>
                                </mat-menu>
                            </div>
                        </div>
                        <div class="input-container" *ngIf="handleFilter && filterType == 2">
                            <input type="text" (input)="applyStrFilter($event)">
                            <!-- <button matRipple class="clear-button" (click)="clearFilter()">✕</button> -->
                        </div>
                    </th>
                    <td class="mat-cell-custom" mat-cell *matCellDef="let element"> {{ element.altEvTituloAlerta }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td class="mat-cell-custom" mat-cell *matCellDef="let element"> {{
                        getFechaFormat(element.altEvFechaEvento) }} </td>
                </ng-container>

                <ng-container matColumnDef="hora">
                    <th mat-header-cell *matHeaderCellDef> Hora </th>
                    <td class="mat-cell-custom" mat-cell *matCellDef="let element"> {{
                        getHoraFormat(element.altEvHoraEvento) }} </td>
                </ng-container>

                <ng-container matColumnDef="lugar">
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="filter-head">
                            Lugar
                            <div style="display: flex; flex-direction: row;">
                                <button class="filter-btn" mat-icon-button color="basic" (click)="setFilterType(3)"><i
                                        class="bi bi-funnel-fill"></i></button>
                                <!-- <button class="filter-btn" mat-icon-button color="basic"><i class="bi bi-sort-down"></i></button> -->
                            </div>
                        </div>
                        <div class="input-container" *ngIf="handleFilter && filterType == 3">
                            <input type="text" (input)="applyStrFilter($event)">
                            <!-- <button matRipple class="clear-button" (click)="clearFilter()">✕</button> -->
                        </div>
                    </th>
                    <td class="mat-cell-custom" mat-cell *matCellDef="let element">{{ element.altEvLugar }}</td>
                </ng-container>

                <tr mat-header-row class="center-content" *matHeaderRowDef="displayedColumnsView"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsView;" (click)="selectAlertEvent(row)"></tr>
            </table>
            <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements"></mat-paginator>
        </div>

    </ng-container>

</div>