
<div class="containerglobal sticky-top">
    <!-- Contenido del componente "documentos" -->
  
  
<div class="documentos">
    <h2>Documentos</h2>
  

  
    <div class="form-group ">
        <label for="campo1">Descripción</label> 
        <textarea rows="1" id="descripcion" name="descripcion"  class="form-control"></textarea>
      </div>
      
      <div class="form-group">
        <label for="campo2">Estado</label>
        <select id="estado" name="estado"  class="form-control">
            <option>Seleccione el estado</option>
            <option value="A">Activo</option>
            <option value="I">Inactivo</option>
        </select>
      </div>
    <div class="align-items-center d-flex flex-column">
      <button class="btn btn-primary m-3 btn-doc">Guardar</button>
    </div>  
  
    <!-- Tabla -->
    <table class="table">
      <thead>
        <tr>
          <th>Clave</th>
          <th>Descripción</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Documento 1</td>
          <td>Descripción 1</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Documento 2</td>
          <td>Descripción 2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>